<template><svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="19" height="19" :fill="Color"/>
</svg>
</template>
<script>
export default {
      props: ['active'],
      computed: {
        Color () {
          if(this.active==12){
            return '#D20E0E'
          }else{
            return '#C4C4C4'
          }
        }
      },
}
</script>
