<template>
  <div class="phone_button d-block d-md-none">
  <a  href="tel:88007006226" >
    <svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="25" cy="25" r="24" fill="black" stroke="white" stroke-width="2"/>
    <path d="M31.3333 8.45837H19.6667C17.2458 8.45837 15.2917 10.4125 15.2917 12.8334V36.1667C15.2917 38.5875 17.2458 40.5417 19.6667 40.5417H31.3333C33.7542 40.5417 35.7083 38.5875 35.7083 36.1667V12.8334C35.7083 10.4125 33.7542 8.45837 31.3333 8.45837ZM28.4167 37.625H22.5833V36.1667H28.4167V37.625ZM33.1562 33.25H17.8437V12.8334H33.1562V33.25Z" fill="white"/>
    </svg>
  </a>
</div>
</template>
<style>
.phone_button{
  position: fixed;
  z-index: 999;
  bottom: 75px;
  left: 25px;
  }</style>
