<template>
  <div class="scrollButton d-none d-md-block ">
    <a href="#" v-scroll-to="'.top-menu'">
      <div class="scroll">
<span>вверх</span>
      </div>



    </a>
  </div>
</template>
<script>
export default {
  data() {
    return {
      fill: '#ffffff8f'
    }
  }
}
</script>

<style>
.scroll{
  z-index: 9999;
  position: absolute;
  bottom: 200px;
  width: 80px;
  height: 100%;
}
.scroll>span{
  top: 50%;
    position: fixed;
    transform: rotate(270deg);
    transform: rotat95deg);
    display: block;
}
.scroll:hover{
  transition: all .3s;
  background: rgb(217 217 217 / 19%);
}

.topicon{
transform: rotate(180deg)
}
</style>
