<template>
  <svg width="44" height="19" viewBox="0 0 44 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect y="11" width="8" height="8" :fill="Color"/>
<rect width="8" height="8" :fill="Color"/>
<rect x="12" y="11" width="8" height="8" :fill="Color"/>
<rect x="24" y="11" width="8" height="8" :fill="Color"/>
<rect x="36" y="11" width="8" height="8" :fill="Color"/>
<rect x="12" width="8" height="8" :fill="Color"/>
<rect x="24" width="8" height="8" :fill="Color"/>
<rect x="36" width="8" height="8" :fill="Color"/>
</svg>
</template>
<script>
export default {
      props: ['active'],
      computed: {
        Color () {
          if(this.active==3){
            return '#D20E0E'
          }else{
            return '#C4C4C4'
          }
        }
      },
}
</script>
