<template>
  <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect y="11" width="8" height="8"  :fill="Color"/>
  <rect width="8" height="8"  :fill="Color"/>
  <rect x="12" y="11" width="8" height="8"  :fill="Color"/>
  <rect x="12" width="8" height="8"  :fill="Color"/>
  </svg>

</template>
<script>
export default {
      props: ['active'],
      computed: {
        Color () {
          if(this.active==6){
            return '#D20E0E'
          }else{
            return '#C4C4C4'
          }
        }
      },
}
</script>
