<template>
<div class="container mt-2">
  <SocialHead
     :title="$tc(category,2)"
     :description="$tc(category,2)"
     :url="'/catalog'+category"
   />
  <b-breadcrumb>
    <li v-for="(item, index) in items" :key="index" class="breadcrumb-item" v-bind:class="{ active: item.active }">
      <span v-if="item.active" aria-current="location">{{ $tc(item.text,2) }}</span>
      <NuxtLink v-else :to="localePath(`${item.href}`)"> {{ $tc(item.text,2) }}</NuxtLink>
    </li>
  </b-breadcrumb>
  <div class="row p-2  liner">
    <div v-if="this.filters.price" class="col">
        <span v-if="this.filters.size" class="badge badge-secondary"><span>{{$t(filters["size"])}}</span><button type="button" v-on:click="close('size')" class="close-badge"><span aria-hidden="true">×</span></button></span>
      <span v-if="this.filters.price[1]<10000" class="badge badge-secondary"><span>{{filters["price"][0]+'-'+filters["price"][1]}}</span><button type="button" v-on:click="close('price')"  class="close-badge"><span aria-hidden="true">×</span></button></span>
      <span v-if="this.filters.color" class="badge badge-secondary"><span>{{$tc('color.'+filters["color"],1)}}</span><button type="button" v-on:click="close('color')" class="close-badge"><span aria-hidden="true">×</span></button></span>

    </div>

  </div>
  <div class="row">


    <div class="col-12 col-sm-12 col-lg-2 ">
      <FilterCard :category="category" v-on:change="filter($event)"  ref="FilterCard" />
    </div>


    <div class="col-12 col-sm-12 col-lg-10 ">
      <div class="mb-2">{{ $t('sortby') }}: <!--<a href="#" v-on:click="sortCatalog()" class="active mr-2">{{ $t('popularity') }}</a>--> <a  class="pointer mr-2" v-on:click="sortCatalogPrice()" >{{ $t('byprice') }}</a></div>
      <div class="row">
        <div  :class="'col-'+colCount" v-for="(item,index) in catalog" :key="index" >
          <Card :link="`/catalog/${item.category}/${item.title.toLowerCase()}/${item.id}`" :catalog="item" v-on:fast="fast_card($event)" />
        </div>

        <div v-if="catalog.length==0" class="m-auto pt-5">{{ $t('result') }}</div>
      </div>

      <div class="text-center" v-if="!end">
      <infinite-loading @infinite="scrollButton">
      <div slot="no-more"></div>
      </infinite-loading>
      </div>

      <div class="text-center">
    <button  type="button" v-if="!end" class="btn btn-outline-dark col-6" v-on:click="scrollButton()">{{ $t('showmore') }} </button>
      </div>
    </div>

  </div>

<FastCard :id="fast_id" :url="`/catalogids?category=`+category"/>
</div>
</template>
<script>
export default {
  data() {
    return {
      fast_id:1,
      allviewchecked: true,
      filters:[],
      colCount: 3,
      page: 0,
      scrolEnd: null,
      end: false,
      items: [{
          text: 'home',
          href: '/'
        },
        {
          text: 'catalog',
          active: true
        }
      ]

    }
  },
  async asyncData({
    params,
    $axios,
    $config
  }) {
    const catalog = await $axios.$get(`/catalog?category=${params.category}&page=0`)
    const items=[{ text: 'home', href: '/'},{ text: 'catalog', href: '/catalog'},{ text: params.category, active: true}]
    const category =params.category
    return { catalog, items, category}
  },

  head() {
        return {
          title: this.$tc(this.category, 2),
          meta: [
          {
            hid: 'description',
            name: 'description',
            content: 'Качественные '+this.$tc(this.category, 2)+' сумки из натуральной кожи ORIGINBAGS'
          },
          {
            hid: 'keywords',
            name: 'keywords',
            content: this.$tc(this.category, 2)+ 'сумки, ORIGINBAGS, натуральная кожа, 100% кожа'
          }
        ]
     }
  },

  mounted() {
    if (window.innerWidth <= 560) {
      this.colCount = 6
    }
  },

  methods: {
    fast_card($event){
      this.fast_id=$event
    },
    allview($event){
      this.allviewchecked=$event;
    },
    scrollButton($state){
      if (this.end!=true) {
    //  console.log('ss')
      this.scrolEnd=true
      this.page++;
      this.$axios.$get(`/catalog?category=${this.category}&page=`+this.page)
        .then(response => {

          //catalog.push(response)
          if(response!=null){
            const  array3= this.catalog.concat(response);
             this.catalog = array3;
            // console.log(catalog)
          }else{
            this.end=true
            $state.complete()
          }
   $state.loaded();
        // catalog.push(response);
      }).finally(() => (this.scrolEnd = false));
  }

    },

    sortCatalogPrice(){
      function compare(a, b) {
    // Use toUpperCase() to ignore character casing
    const bandA = a.price;
    const bandB = b.price;

    return bandA - bandB;
  }

    this.catalog.sort(compare);
    },
    getCol(count) {
      this.colCount = count
    },
    close(item) {
      switch(item) {
        case 'size':
        this.filters["size"]=''
        this.$refs.FilterCard.close("size")
        this.filter(this.filters)
        break;
        case 'color':
        this.filters["color"]=''
        this.$refs.FilterCard.close("color")
        this.filter(this.filters)
        break;
        case 'price':
        this.filters["price"]=[0,10000]
        this.$refs.FilterCard.close("price")
        this.filter(this.filters)
        break;
      }


    },
  async  clear(){
    this.end=false
      const catalog = await this.$axios.$get(`/catalog?category=`+this.category+'&page=0')
      this.catalog=catalog
    },
  async  filter(array) {
      this.end=true
      this.filters=array
  //  console.log(array)
    if(array["color"]!=''&&array["size"]!=''){
      const catalog = await this.$axios.$get('/catalog?category='+this.category+'&color='+array["color"]+'&price=['+array["price"][0]+','+array["price"][1]+']'+'&size='+array["size"])
      this.catalog=catalog
    }else if(array["color"]!=''){
        const catalog = await this.$axios.$get('/catalog?category='+this.category+'&color='+array["color"]+'&price=['+array["price"][0]+','+array["price"][1]+']')
        this.catalog=catalog
    }else if(array["size"]!=''){
      const catalog = await this.$axios.$get('/catalog?category='+this.category+'&price=['+array["price"][0]+','+array["price"][1]+']'+'&size='+array["size"])
      this.catalog=catalog
    }else{
      const catalog = await this.$axios.$get('/catalog?category='+this.category+'&price=['+array["price"][0]+','+array["price"][1]+']')
      console.log(catalog.length)
      this.catalog=catalog
    }
    }
  }

}
</script>
<style>
.pointer {
  cursor: pointer;
}

.colorFilter {
  width: 30px;
  height: 30px;
}

.colorFilter.active {
  transition: all 0.2s;
  width: 40px;
  height: 40px;
}
</style>
