<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      img-width="960"
      img-height="297"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <div class="rounded slider" >
      <b-carousel-slide v-for="image in images" :key="image.id">
      <template #img>
        <div class="row">
          <div class="col">
            <img
              class="d-block rounded  w-100"

              :src="image.src"
              alt="image slot"
            >
          </div>
          <div class="col">

              <img
                class="d-block rounded  w-100"

                :src="image.src"
                alt="image slot"
              >
            </div>
        </div>

              </template>
    </b-carousel-slide>
</div>

    </b-carousel>


  </div>
</template>

<script>
  export default {
    props: ['images'],
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
  }
</script>
<style>
.slider{
      overflow: hidden;
}
</style>
