<template>
  <div>



    <b-carousel
      id="myCarousel"
      ref="myCarousel"
      v-model="slide"

      controls
      indicators
      img-width="960"
      img-height="297"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <div class=" slider" >
      <b-carousel-slide v-for="image in images" :key="image.id">
      <template #img >
                <img
                  class="d-block   w-100"

                  :src="image.src"
                  alt="image slot"
                >
                <div class="container">
              <div class="carousel-caption text-left">
                <h1 class="h5">{{image.title}}</h1>
                <p>{{image.description}}</p>
                <p>
                  <NuxtLink :to="localePath(''+image.link)" class="btn  btn-success"> {{$t('view')}}</NuxtLink>
                </p>
              </div>
            </div>
              </template>
    </b-carousel-slide>


  </div>


    </b-carousel>


  </div>
</template>

<script>
  export default {
    props: ['images','minimize'],
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {

      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    },
    watch: {
        slide: function() {
          this.$emit('change', this.slide)
        //  console.log(this.slide);
         // gsap.to(this.$data, { duration: 0.5, count: newValue1 });
        }
      },


  }
</script>
<style>
.carousel-caption{
  top: 20%;
}
.slider{
      overflow: hidden;
}
</style>
