<template>
  <div class="row mt-3 mb-3">
    <div class="col font-weight-bold">
      <img :src="order.src" class=""width="80px">
      {{ order.title}}
    </div>

    <div class="col-sm ">{{ order.price}} ₽.</div>
    <div class="col"><a class="text-danger" @click="removeTodo(order.id)" >{{ $t('delete') }}</a></div>
    <div><button v-b-modal="'modal'" type="button"  class="btn btn-dark col-12" v-on:click="addTodo(order.id,order.category,order.title,order.price,1,order.src)">{{ $t('inCart') }} </button></div>
  </div>

</template>
<script>
import {
  mapMutations
} from 'vuex'
import {gsap} from "gsap"
export default {
  props: ['order','index','id'],

  data() {
    return {
      counter: 1,
      number: 0,
      tweenedNumber: 0
    }
  },
  mounted() {
let orders = this.$store.state.order.list

//console.log(cityId);


    /*if( this.$store.state.order.list[this.index]!=null){
       this.number = this.$store.state.order.list[this.index].count;
       if(this.number>0){
         this.isButtonDisabled=false
       }
    }*/
   },

  methods: {
    removeTodo(todo) {
    //  console.log(todo)
      this.$store.commit('order/removeWishlist', {todo})
    },
    addTodo (id,category,title,price,count,src) {
      this.$store.commit('order/add', {id,category,title,price,count,src})
    }
  }
}
</script>
