<template>
<div class="" >
  <!--filter-->
  <b-navbar class="p-0 d-flex align-items-center flex-row-reverse" toggleable="lg" variant="">
    <b-navbar-toggle class="mb-2" target="filter-collapse">
      <template #default="{ expanded }">
        <CatalogFilter /> <span class="text-dark">{{ $t('filter') }}</span>
      </template>
    </b-navbar-toggle>

    <b-collapse id="filter-collapse" is-nav>

      <div>
        <div class="row">
          <div class="col-6"> <span class="h5">{{ $t('filter') }}</span> </div>
          <div class="col-6 "><small><a class="pointer" @click="clear()" >х</a></small></div>
        </div>
      <!--  <b-form-checkbox
              class="py-3"
             id="checkbox-1"
             v-model="checked"
             switch
             checked="checked"
             :state="state"
           >
          <span v-if="checked">{{ $t('instock') }}</span><span v-else>{{ $t('allmodels') }}</span>
        </b-form-checkbox>-->

       <div class="accordion" role="tablist">

             <h6 class="my-3" block v-b-toggle.accordion-1 >{{ $t('typeBag') }}</h6>

           <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
             <div>

               <!--type-->
          <ul class="nav">
            <div v-if="category!='muzhskie_sumki'" class="col-12 p-0" @click="changeSize('crossbody')" ><a  target="_self" class="nav-link pointer" v-bind:class="{ active: activeClassSize=='crossbody' }">{{ $t('crossbody') }}</a></div>
            <div  class="col-6 p-0" @click="changeSize('port')" ><a  target="_self" class="nav-link pointer" v-bind:class="{ active: activeClassSize=='port' }">{{ $t('port') }}</a></div>
            <div v-if="category!='muzhskie_sumki'" class="col-12 p-0" @click="changeSize('shoper')" ><a  target="_self" class="nav-link pointer" v-bind:class="{ active: activeClassSize=='shoper' }">{{ $t('shoper') }}</a></div>
            <div class="col-6 p-0" @click="changeSize('rukzak')" ><a  target="_self" class="nav-link pointer" v-bind:class="{ active: activeClassSize=='rukzak' }">{{ $t('rukzak') }}</a></div>
        <div v-if="category!='muzhskie_sumki'" class="col-12 p-0" @click="changeSize('middle')" ><a  target="_self" class="nav-link pointer" v-bind:class="{ active: activeClassSize=='middle' }">{{ $t('middle') }}</a></div>
        <div v-if="category!='muzhskie_sumki'" class="col-12 p-0" @click="changeSize('baguette')" ><a  target="_self" class="nav-link pointer" v-bind:class="{ active: activeClassSize=='baguette' }">{{ $t('baguette') }}</a></div>
        <div v-if="category!='muzhskie_sumki'" class="col-12 p-0" @click="changeSize('hobo')" ><a  target="_self" class="nav-link pointer" v-bind:class="{ active: activeClassSize=='hobo' }">{{ $t('hobo') }}</a></div>
        <div v-if="category!='zhenskie_sumki'" class="col-12 p-0" @click="changeSize('barset')" ><a  target="_self" class="nav-link pointer" v-bind:class="{ active: activeClassSize=='barset' }">{{ $t('barset') }}</a></div>
        <div v-if="category!='zhenskie_sumki'" class="col-12 p-0" @click="changeSize('crosmen')" ><a  target="_self" class="nav-link pointer" v-bind:class="{ active: activeClassSize=='crosmen' }">{{ $t('crosmen') }}</a></div>
          </ul>

             </div>
           </b-collapse>
            <h6 class="my-3" block v-b-toggle.accordion-2 >{{ $t('price') }}</h6>

            <b-collapse id="accordion-2" visible accordion="my-accordion2" role="tabpanel">
              <div>
                <!--price-->
                <div class="container">
                        <div class=" row mt-4 ">
                          <div class="col p-0"><input type="number" class="form-control"  @keyup.13="getPrice()" v-model="value[0]"></div>
                          <div class="col-auto p-1">-</div>
                          <div class="col p-0"><input type="number" class="form-control"  @keyup.13="getPrice() " v-model="value[1]"></div>
                        </div>
  </div>
                        <vue-slider class="container mt-2" @drag-end="getPrice()" v-model="value" :min="min" :max="max" :interval="1" :tooltip="'none'" :processStyle="{ backgroundColor: 'black' }"></vue-slider>

            </div>
             </b-collapse>

               <h6 class="my-3" block v-b-toggle.accordion-3 variant="">{{ $t('colorTitle') }}</h6>
               <b-collapse id="accordion-3" visible accordion="my-accordion3" role="tabpanel">
                 <div class="">
                   <!--colors-->
                           <div class="">
                             <ul v-for="(item,index) in color" :key="index" class="nav">
                               <li>
                                 <a @click="changeItem(item.name)"  class="nav-link pointer">
                                   {{$tc('color.'+item.name,1)}}
                                 </a>
                               </li>

                             </ul>
                           </div>

               </div>
                </b-collapse>

 </div>





      </div>
    </b-collapse>
  </b-navbar>

  <!--filter-->
</div>
</template>

<script>
import {
  mapMutations
} from 'vuex'

export default {
  props: ['category','colorActive'],
  data() {
    return {
      checked: false,
      value: [0, 10000],
      min: 0,
      max: 10000,
      color: [{
          "name": "red",
          "color": "#db1010"
        },
        {
          "name": "black",
          "color": "black"
        },
        {
          "name": "green",
          "color": "green"
        },
        {
          "name": "blue",
          "color": "blue"
        },
        {
          "name": "yellow",
          "color": "#d4d400",
        },
        {
          "name": "grey",
          "color": "grey"
        },
        {
          "name": "cappuccino",
          "color": "#64504c"
        },
        {
          "name":"brown",
          "color": "#601800"
        },
        {
          "name":"bordo",
          "color": "#800000"
        },
        {
          "name":"white",
          "color": "#e6e6e6"
        },
        {
          "name":"rose",
          "color": "#ffc9e5"
        },
        {
          "name":"beige",
          "color": "#a87b50"
        }

      ],
    'activeClass':'',
    'activeClassSize':''
    }

  },
    beforeMount() {
this.checked=this.$store.state.order.allviewcheck

    },
  computed: {
      state() {

        this.$emit('state', this.checked)

        let chek=this.checked;
         this.$store.commit('order/addAllviewchecked', chek)

      // console.log(this.$store.state.order.allviewcheck)
     },

    },
  methods: {
  changeItem: function(color) {
    this.activeClass=color
    let array=[];
    array["color"]=this.activeClass
    array["size"]=this.activeClassSize
    array["price"]=this.value
   //console.log(array)
   this.$emit('change', array)
 },
 changeSize: function(size) {
   this.activeClassSize=size
   let array=[];
   array["color"]=this.activeClass
   array["size"]=this.activeClassSize
   array["price"]=this.value
   this.$emit('change', array)
  //this.$emit('change', color);
},
getPrice: function(){
  let array=[];
  array["color"]=this.activeClass
  array["size"]=this.activeClassSize
  array["price"]=this.value
   this.$emit('change', array)
},
clear:function(){
  //console.log('ss')
  this.activeClass=''
  this.activeClassSize=''
  this.value=[0, 10000]
  this.$emit('clear')
},
close:function(item){
    switch(item) {
  case 'size':
  this.activeClassSize=''
  break;
  case 'color':
  this.activeClass=''
  break;
  case 'price':
  this.value=[0, 10000]
  break;
}
}
}
}
</script>
<style>

.colorFilter {
    cursor: pointer;
  width: 30px;
  height: 30px;
}

.colorFilter.active {
  transition: all 0.2s;
  width: 40px;
  height: 40px;
}
.colorFilter.active:after{
  width: 38px;
height: 38px;
top: calc(50% - 19px);
left: calc(50% - 19px);
background-color: #cb11ab;
}
.filter-bag-img{
  display: flex;
    align-items: flex-end;
}
</style>
