<template>
  <div >

<div class="row mt-5  ">
<div class="col-sm-6 mb-1">
  <div class="row">
<div class="col-sm-12 mb-1 pr-sm-1">
     <NuxtLink :to="localePath(''+images[0].link)" class="text-white">
       <div class="card-slider ml-5">
         <h3 class="slimline">{{images[0].description}}</h3>
         <h1   class="slimline">{{images[0].title}}</h1>
         <NuxtLink :to="localePath(''+images[0].link)" class="text-white dashed">{{$t('view')}}</NuxtLink>
       </div>

       <img  :src="images[0].src" class="w-100" />
       </NuxtLink>
</div>
  <div class="col-sm-12 pr-sm-1" >
    <NuxtLink :to="localePath(''+images[1].link)" class="text-white">
    <div class="card-slider ml-5">
      <h3 class="slimline">{{images[1].description}}</h3>
      <h1  class="slimline">{{images[2].title}}</h1>
      <NuxtLink :to="localePath(''+images[1].link)" class="text-white dashed">{{$t('view')}}</NuxtLink>
    </div>
    <img  :src="images[1].src"  class="w-100" />

   </NuxtLink>
     </div>
  </div>


</div>
<div class="col-sm-6  pl-sm-0">
  <NuxtLink :to="localePath(''+images[2].link)" class="text-white">
  <div class="card-slider ml-5">
    <h3 class="slimline">{{images[2].description}}</h3>
    <h1   class="slimline">{{images[2].title}}</h1>
    <NuxtLink :to="localePath(''+images[2].link)" class="text-white dashed">{{$t('view')}}</NuxtLink>
  </div>
  <img  :src="images[2].src" class="w-100"/>
   </NuxtLink>
</div>

</div>

<div class="row  mt-sm-0 mt-1">

<div class="col-sm-6 pr-sm-1 mb-sm-0 mb-1">
  <NuxtLink :to="localePath(''+images[3].link)" class="text-white">
  <div class="card-slider ml-5">
    <h3 class="slimline">{{images[3].description}}</h3>
    <h1  class="slimline">{{images[3].title}}</h1>
    <NuxtLink :to="localePath(''+images[3].link)" class="text-white dashed">{{$t('view')}}</NuxtLink>
  </div>
  <img  :src="images[3].src" class="w-100 h-100"/>
     </NuxtLink>
</div>
<div class="col-sm-6">
  <div class="row">
<div class="col-sm-12 mb-1 pl-sm-0">
  <NuxtLink :to="localePath(''+images[4].link)" class="text-white">
  <div class="card-slider ml-5">
    <h3 class="slimline">{{images[0].description}}</h3>
    <h1   class="slimline">{{images[4].title}}</h1>
    <NuxtLink :to="localePath(''+images[4].link)" class="text-white dashed">{{$t('view')}}</NuxtLink>
  </div>
    <img  :src="images[4].src" class="w-100" />
    </NuxtLink>
</div>
  <div class="col-sm-12 pl-sm-0" >
    <NuxtLink :to="localePath(''+images[5].link)" class="text-white">
    <div class="card-slider ml-5">
      <h3 class="slimline">{{images[5].description}}</h3>
      <h1   class="slimline">{{images[5].title}}</h1>
      <NuxtLink :to="localePath(''+images[5].link)" class="text-white dashed">{{$t('view')}}</NuxtLink>
    </div>
    <img  :src="images[5].src"   class="w-100" />
    </NuxtLink>
  </div>
  </div>


</div>
</div>



  </div>
</template>

<script>

export default {
    props: ['images'],




}
</script>
