
<template>
  <div >
<!--    <button type="button" class="btn btn-outline-primary px-4 m-1 " @click="fillDataAge()">Возраст %</button>
    <button type="button" class="btn btn-outline-primary px-4 m-1" @click="fillDataGender()">Пол %</button>
    <button type="button" class="btn btn-outline-primary px-4 m-1" @click="fillDataStady()">Образование %</button>
    <button type="button" class="btn btn-outline-primary px-4 m-1" @click="fillDataGadget()">Устройства %</button>

-->
  <div class="small "> <line-chart :chart-data="dataset" :options="options" ></line-chart></div>
  </div>
</template>

<script>
  import LineChart from '../plugins/barchart.js'

  export default {
    components: {
      LineChart
    },
    props: ['dataset','vol'],
    data () {
      return {

        datacollection: {},
        options:{
          radius: 0,
          responsive: true,
        maintainAspectRatio: false
        }
      }
    },
    methods: {
     fillDataAge () {
       this.datacollection = {
         count:["2шт", "1шт","4шт","3шт","21"],
         labels: ["QUEEN \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u041a\u0430\u043f\u0443\u0447\u0438\u043d\u043e", "QUEEN \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0411\u043e\u0440\u0434\u043e", "QUEEN \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0420\u043e\u0437\u043e\u0432\u044b\u0439", "QUEEN \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, NUDE", "ASTER \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0411\u043e\u0440\u0434\u043e", "ASTER \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0417\u043c\u0435\u044f", "ASTER \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u041a\u0440\u043e\u043a\u043e\u0434\u0438\u043b", "ASTER \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0424\u0438\u0441\u0442\u0430\u0448\u043a\u0430", "ASTER \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0427\u0435\u0440\u043d\u044b\u0439", "FLOKI \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0427\u0435\u0440\u043d\u044b\u0439", "FLOKI \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0427\u0435\u0440\u043d\u044b\u0439", "FLOKI \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u041a\u043e\u0440\u0438\u0447\u043d\u0435\u0432\u044b\u0439", "BROKER 13.6\" \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0427\u0435\u0440\u043d\u044b\u0439", "BANKIR 15.6\" \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0427\u0435\u0440\u043d\u044b\u0439", "(\u0428\u043e\u043f\u0435\u0440) VERONA ", "CLASSIC \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u041f\u044b\u043b\u044c\u043d\u0430\u044f \u0440\u043e\u0437\u0430", "MILENA \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0422\u0435\u043c\u043d\u043e \u0441\u0438\u043d\u0438\u0439", "MILENA \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0411\u0435\u0436\u0435\u0432\u044b\u0439", "GENRI \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0427\u0435\u0440\u043d\u044b\u0439", "GENRI \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u041a\u043e\u0440\u0438\u0447\u043d\u0435\u0432\u044b\u0439", "DANIEL \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0422\u0435\u043c\u043d\u043e \u0441\u0438\u043d\u0438\u0439", "DANIEL \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0411\u0435\u0436\u0435\u0432\u044b\u0439", "ALINA \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0427\u0435\u0440\u043d\u044b\u0439", "ALINA \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u041c\u0430\u0440\u0441\u0430\u043b\u0430", "ALINA \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0417\u0435\u043b\u0435\u043d\u044b\u0439", "EVA \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0427\u0435\u0440\u043d\u044b\u0439", "EVA \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u041f\u044b\u043b\u044c\u043d\u0430\u044f \u0440\u043e\u0437\u0430", "EVA \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u041c\u0430\u0440\u0441\u0430\u043b\u0430", "EVA \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0420\u043e\u0437\u043e\u0432\u044b\u0439", "EVA \u041d\u0430\u0442\u0443\u0440\u0430\u043b\u044c\u043d\u0430\u044f \u043a\u043e\u0436\u0430, \u0411\u0435\u0436\u0435\u0432\u044b\u0439", "SAFARI "],

         datasets: [
           {
             label: 'Продажи',
             backgroundColor: ["#5F9EA0", "#6495ED", "#66CDAA", "#696969", "#6A5ACD", "#6B8E23", "#708090", "#778899", "#7B68EE", "#7CFC00", "#7FFF00", "#7FFFD4", "#800000", "#800080", "#808000", "#808080", "#87CEEB", "#87CEFA", "#8A2BE2", "#8B0000", "#8B008B", "#8B4513", "#8FBC8F", "#90EE90", "#9370D8", "#9400D3", "#98FB98", "#9932CC", "#9ACD32", "#A0522D", "#A52A2A", "#A9A9A9", "#ADD8E6", "#ADFF2F", "#AFEEEE", "#B0C4DE", "#B0E0E6", "#B22222", "#B8860B", "#BA55D3", "#BC8F8F", "#BDB76B", "#C0C0C0", "#C71585", "#CD5C5C", "#CD853F", "#D2691E", "#D2B48C", "#D3D3D3", "#D87093", "#D8BFD8", "#DA70D6", "#DAA520", "#DC143C", "#DCDCDC", "#DDA0DD", "#DEB887", "#E0FFFF", "#E6E6FA", "#E9967A", "#EE82EE", "#EEE8AA", "#F08080", "#F0E68C", "#F0F8FF", "#F0FFF0", "#F0FFFF", "#F4A460", "#F5DEB3", "#F5F5DC", "#F5F5F5", "#F5FFFA", "#F8F8FF", "#FA8072", "#FAEBD7", "#FAF0E6", "#FAFAD2", "#FDF5E6", "#FF0000", "#FF00FF", "#FF00FF", "#FF1493", "#FF4500", "#FF6347", "#FF69B4", "#FF7F50", "#FF8C00", "#FFA07A", "#FFA500", "#FFB6C1", "#FFC0CB", "#FFD700", "#FFDAB9", "#FFDEAD", "#FFE4B5", "#FFE4C4", "#FFE4E1", "#FFEBCD", "#FFEFD5", "#FFF0F5", "#FFF5EE", "#FFF8DC", "#FFFACD", "#FFFAF0", "#FFFAFA", "#FFFF00", "#FFFFE0", "#FFFFF0", "#FFFFFF"],
             data: [1, 1, 11, 2, 3, 1, 2, 6, 1, 20, 54, 35, 4, 6, 5, 1, 11, 10, 20, 18, 2, 1, 10, 10, 9, 19, 1, 8, 4, 21, 21]
           }
         ]
       }
     }

   },
    mounted () {
      this.fillDataAge()
    }

  }
</script>

<style>

</style>
