<template>

  <div class="mb-5">
        <div class="card">
           <img src="card.jpg" class="card-img-top" alt="...">
           <div class="card-img-overlay text-center">
           <h2>{{ mountain.title }}</h2>
            <p class="card-text">{{ mountain.body }}</p>
            <h5 class="card-text">{{ mountain.price }} руб./м3</h5>
           </div>

             </div>
             <button type="button" class="btn btn-primary col-12 mt-3" v-on:click="addTodo(mountain.title,mountain.price,counter)">В КОРЗИНУ</button>


      <ul>
      <li v-for="todo in todos" :key="todo.title">
        {{ todo.ord.title}}
      </li>
    </ul>
             </div>

</template>
<script>
import { mapMutations } from 'vuex'

export default {
props: ['mountain'],
data() {
  return {
    counter: 0
  }
},
mounted() {
  if( this.$store.state.order.list.length>0){
     this.counter = this.$store.state.order.list[0].ord.count;
  }

 },
computed: {
   todos () {
     return this.$store.state.order.list
   },
   counter1:{
     // геттер:
     get: function () {
    //   this.$store.state.order.list[1].ord.count
       return this.counter
     },
     // сеттер:
     set: function (newValue) {
       this.counter = newValue
     }
   }
 },
 methods: {
   addTodo (title,price,count) {
     this.$store.commit('order/add', {title,price,count})
     event.target.value = ''
   },
   ...mapMutations({
     toggle: 'order/toggle'
   }),
   removeTodo (todo){
     this.$store.commit('order/remove', todo)
   }
 }
}
</script>
