<template>
  <div class="row mt-3 mb-3">
    <div class="col font-weight-bold">
        <NuxtLink :to="localePath('/catalog/'+order.category+'/'+order.title.toLowerCase())+'/'+order.id"> <img :src="order.src" class="rounded" width="80px">
      {{ order.title}}  </NuxtLink>
    </div>
    <div class="col">
        <b-input-group>
          <b-input-group-prepend>
            <b-button variant="success" v-on:click="minus()" >-</b-button>
          </b-input-group-prepend>

          <input type="number" class="form-control text-center" id="exampleInputEmail1" @keyup.13="addCount()" v-model.number="number">


          <b-input-group-append>
            <b-button variant="success" v-on:click="plus()">+</b-button>
          </b-input-group-append>
        </b-input-group>

    </div>
    <div class="col-sm ">{{ price}} ₽.</div>
    <div class="col"><a class="text-danger pointer" @click="removeTodo(order.id)" >{{ $t('delete') }}</a></div>
  </div>

</template>
<script>
import {
  mapMutations
} from 'vuex'
//import {gsap} from "gsap"
export default {
  props: ['order','index','id'],
  data() {
    return {
      price: 0,
      counter: 1,
      number: 0,
      tweenedNumber: 0
    }
  },
  mounted() {
let orders = this.$store.state.order.list
let search = this.id;
let cityId = orders.find(city => city.id === search).id
let cityCount = orders.find(city => city.id === search).count
this.number=cityCount
this.price=cityCount*this.order.price

   },

  watch: {
      number: function(newValue) {
        if(newValue<0){
        newValue=0
        }
        let newValue1=newValue*this.order.price
        //console.log(this.order.title)

     var count=newValue;
     let index =this.index;
     this.price=newValue1
  //   this.$store.commit('order/addCount', {index,count})
      //  this.addTodo(this.index,this.order.title,this.order.price,this.number)
  //   gsap.to(this.$data, { duration: 0.5, tweenedNumber: newValue1 });
      }
    },
  methods: {
    minus(){
      if(this.number>1){
        this.number-= 1
        var count=this.number;
        let index =this.index;
        this.price=count*this.order.price
        this.$store.commit('order/addCount', {index,count})
      }
    },
    plus(){
      this.number+= 1
      var count=this.number;
      let index =this.index;
      this.price=count*this.order.price
      this.$store.commit('order/addCount', {index,count})
    },
    addCount(){
      var count=this.number;
      let index =this.index;
      this.$store.commit('order/addCount', {index,count})
    },
    addTodo (index,title,price,count) {
      this.$store.commit('order/add', [index,{title,price,count}])
      event.target.value = ''
    },
    removeTodo(todo) {
    //  console.log(todo)
      this.$store.commit('order/remove', {todo})
    }
  }
}
</script>
