
<template>
  <div >



<h5 class="pt-4">{{dataset.datasets[0].labelTop}}:<br/> <small>{{dataset.countproizv}} {{vol}} {{dataset.sum}} р.</small></h5>
  <div class="small "> <line-chart :chart-data="datacollection" :options="options" ></line-chart></div>
  </div>
</template>

<script>
  import LineChart from '../plugins/charts.js'

  export default {
    components: {
      LineChart
    },
    props: ['dataset','vol','respons'],
    data () {
      return {
        datacollection: {},
        options:{
          tooltips: {
             callbacks: {
               label: ((tooltipItems, data) => {
                  return tooltipItems.yLabel + ' руб. ' + data.count[tooltipItems.index]+' '+this.vol
               })
             }
           },
          responsive: true,
          maintainAspectRatio: false
        }
      }
    },
    methods: {
     fillDataAge () {
       this.datacollection = this.dataset
       this.options.maintainAspectRatio=this.respons
     },

   },
    mounted () {
      this.fillDataAge()
    }

  }
</script>

<style>

</style>
