<template>
  <div>
    <b-modal
     id="modal-comments-closing"
     centered
     hide-footer
     ref="modal"
     title="Заказать звонок"
     @show="resetModal"
     @hidden="resetModal"
   >
     <form ref="form" @submit.stop.prevent="handleSubmit">
       <b-form-group
         label="Имя"
         label-for="name-input"
         :state="nameState"
       >
         <b-form-input
           id="name-input"
           v-model="name"
           :state="nameState"
         ></b-form-input>
       </b-form-group>
       <b-form-group
         label="Отзыв"
         label-for="phone-input"
         invalid-feedback="Отзыв"
         :state="textState"
       >
         <b-form-textarea
           id="phone-input"
           v-model="text"
           :state="textState"
           required
         ></b-form-textarea>
       </b-form-group>
        <b-button type="submit" variant="primary">Отправить</b-button>
     </form>
   </b-modal>
 </div>
</template>
<script>
  export default {
    data() {
      return {
        name: '',
        text: '',
        textState: null,
        phoneState: null,
        nameState: null
      }
    },
    methods: {
      checkFormValidity() {
        const valid = this.$refs.form.checkValidity()
        this.nameState = valid
        return valid
      },
      resetModal() {
        this.name = ''
        this.phone = ''
        this.nameState = null
      },
      handleSubmit() {
        // Exit when the form isn't valid
        if (!this.checkFormValidity()) {
          return
        }
        // Push the name to submitted names


        var client={"name":this.name,"phone":this.phone}
        const mountains =   this.$axios.$post(`/comments`,{client})

        // Hide the modal manually
        this.$nextTick(() => {
          this.$bvModal.hide('modal-comments-closing')
        })
      }
    }
  }
</script>
