<template>
  <div >


     <img v-if="comment.img!=''"  :src="comment.img" class="w-100" alt="...">

</div>


    </div>
</template>

<script>
  export default {
    props: ['comment'],
    data() {
      return {
      }
    },
    methods: {
    }
  }
</script>
<style>

</style>
