<template>
  <div>

<div class="row">
  <div class="col-sm-6 col-12">
    <div class="p-2 mt-4">




  Горячая линия:  <a class="phone" href="tel:88007006226"></a></br>
Жалобы и предложения: <a href="mailto:info@elborso.ru">info@originbags.ru</a></br>
Техническая поддержка: <a href="mailto:support@elborso.ru">support@originbags.ru</a></br>
      </div>
  </div>
  <div class="col-sm-6 col-12 p-2">
  <!--<script type="text/javascript" charset="utf-8" async :src="Contacts.YaCartSrc"></script>-->
  </div>
</div>
    </div>
</template>
<script>
export default {
  data() {
    return {
      phone: ''
    }
  },

}
</script>
