<template>
  <div class="mt-5" >
    <footer class=" container" style="    border-top: solid 1px #b7b7b7;">
      <div class="row p-3">
        <div class="col-12 col-md-4">
          <small class="d-block ">© 2021 ORIGINBAGS {{ $t('right') }}</small>
          <small>{{ $t('shopofbags') }}</small>

        </div>

        <div class="col-12 col-md-6">

          <ul class="nav flex-column">
            <li><NuxtLink :to="localePath('/about')" class="  p-0"> {{ $t('about') }}</NuxtLink></li>
              <li><NuxtLink :to="localePath('/deliveryandpay')" class=" p-0"> {{ $t('deliveryPay') }}</NuxtLink></li>
            <li>   <NuxtLink :to="localePath('/contacts')" class="  p-0"> {{ $t('contacts') }}</NuxtLink></li>
            <!--  <NuxtLink :to="localePath('/reviews')" class="nav-link text-light"> {{ $t('review') }}</NuxtLink>-->
              <NuxtLink :to="localePath('/refundorexchange')" class="  p-0"> {{ $t('Refundorexchange') }}</NuxtLink>
           <NuxtLink :to="localePath('/privacy')" class=" p-0"> {{ $t('privacy') }}</NuxtLink><!---->

        </ul>
        </div>
        <div class="col-12 col-md-2">
          <Social />
        </div>
      </div>
    </footer>
  <!--<span itemscope itemtype="http://schema.org/Organization">
  <span itemprop="name" content="Elborso"></span>
  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress" content="Байкальская ул, дом № 40/17"></span>
    <span itemprop="postalCode" content="107207"></span>
    <span itemprop="addressLocality" content="Москва"></span>
  </span>
  <span itemprop="telephone" content="88007006226"></span>
  <span itemprop="email" content="elborso.ru@yandex.ru"></span>
</span>-->
    </div>
</template>
