<template>
  <svg width="148" height="24" viewBox="0 0 148 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M148 12L83.5 15.4641L83.5 8.5359L148 12Z" fill="#C2C3C5"/>
  <path d="M4.76995e-08 12L64.5 8.5359L64.5 15.4641L4.76995e-08 12Z" fill="#C2C3C5"/>
  <circle cx="74" cy="12" r="12" fill="white"/>
  <circle cx="74" cy="12" r="4" fill="#C2C3C5"/>
  </svg>

</template>
