<template>
  <svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M9.74284 9C10.5282 8.04906 11 6.82963 11 5.5C11 2.46243 8.53757 0 5.5 0C2.46243 0 0 2.46243 0 5.5C0 6.96457 0.572445 8.29544 1.50579 9.28107L5.50001 14L9.75 9H9.74284Z" fill="#F20D0D"/>
  </svg>
</template>
