<template>
<b-navbar  toggleable="lg" type="light" variant=""  class="" >
  <div class="container ">

    <NuxtLink class="d-block d-md-none" to="/">
      <Logo :type="'mob'" /></br>

    </NuxtLink>
    <b-navbar-toggle target="nav-collapse" class="ml-auto"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav >
      <div class="col-sm-12 col-12 col-lg-auto text-md-left">

           <a class="phone-top"  href="tel:89251149950"  ><MenuPhone /><span> 8-925-114-9950</span></a></br>




      </div>
      <div class="nav nav-menu  rounded">
        <li class="nav-item ">
          <NuxtLink :to="localePath('/')" class="nav-link"><MenuHome/> {{ $t('home') }}</NuxtLink>
        </li>
        <li class="nav-item ">
          <NuxtLink :to="localePath('/catalog')" class="nav-link"> <MenuCatalog/> {{ $t('catalog') }} </NuxtLink>
        </li>
        <li class="nav-item ">
          <NuxtLink :to="localePath('/catalog/zhenskie_sumki/')" class="nav-link"><MenuWhoman/> {{ $tc('zhenskie_sumki',2) }} </NuxtLink>
        </li>
        <li class="nav-item ">
          <NuxtLink :to="localePath('/catalog/muzhskie_sumki/')"  class="nav-link"><MenuMan/> {{ $tc('muzhskie_sumki',2) }}</NuxtLink>
        </li>
    <!--    <li class="nav-item ">
          <NuxtLink :to="localePath('/catalog/accessories/')" class="nav-link"><MenuWalet/> {{ $t('accessories') }} </NuxtLink>
        </li>
-->

      </div>
    </b-collapse>

  </div>
</b-navbar>
</div>
</template>
<style>
.cart-price {
  margin-left: 10px;
}
.nav-menu{
  width: 100%;

}
.nav-item>.nuxt-link-exact-active{
  border-radius: 10px;
  color: white;
  transition:all 1s;
}
</style>
