<template>
      <div  class="container">

<div class="row ">
<div class="col-sm-12 col-lg-10 col-12">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-sm-12 col-lg-3 text-center text-md-left">
      <NuxtLink class="d-none d-md-block pl-3" to="/">
        <Logo :type="'desk'" /><br/>
      </NuxtLink>
      <a class="phone-top d-block d-md-none  mt-3"  href="tel:89251149950"  ><MenuPhone /><span> 8-925-114-9950</span></a>
      <a class=" pl-3 text-white" v-b-modal.modal-prevent-closing><small>{{ $t('callback') }}</small></a>

    </div>

      <div class="col-sm-12 col-lg col-12  p-lg-0">


        <div class="input-group search-block my-3" >
          <input   @focus="focused = true" @blur="focused = false" type="search" class="form-control input-search form-control-lg" v-model="search" :placeholder="$t('search')" id="searchInput" aria-describedby="searchInput">

           <button class="btn my-btn-search" type="button" id="button-addon2"><MenuSearch /></button>
        </div>

        <div v-if="searchResult!=0"  class="dropdown-menu active" aria-labelledby="dropdownMenuButton" >
          <span v-on:click="searchResult=[],search=''"   v-for="(item,index) in searchResult" :key="index">
            <NuxtLink class="dropdown-item" :to="`/catalog/${item.category}/${item.title.toLowerCase()}/${item.id}`">
<img :src="item.src" class="d-block rounded float-left mr-2" alt="" width="50">
          <small>    {{item.title}} {{$tc('color.'+item.characteristic.color,2)}} {{item.id}}</small> </NuxtLink>
          </span>

        </div>
      </div>
    </div>
</div>
<div class="col-sm-12 col-lg-2 mt-lg-3">
    <div class="row" >
          <div class="col" >  <MenuFavorite /></div>
          <div class="col">  <MenuAcaunt /></div>
          <div class="col"><MenuCart /></div>
      </div>


</div>
</div>






<CallModal/>


</div>
</template>
<script>
export default {
  data() {
    return {
      focused: '',
        searchResult: [],
      search:'',
      searchDrop: false
    }
  },
  methods: {

  },
  watch: {
    search: function (val) {
        let a=val.trim()
      if(a.length>0){
  this.searchDrop=true
      const result =  this.$axios.$get(`/catalog?search=`+val.toLowerCase())
      .then(response => (this.searchResult = response));

  //  console.log(this.searchResult.length)
  }else{
    this.searchResult=0
  }
      //  const result =  this.$axios.$get(`/catalog?search=`+val.toUpperCase()).then(response => (this.searchResult = response));
      //    this.searchDrop=true
        //this.searchResult=result
    //  console.log(val)
    }
  }
}
</script>
<style>
.search-block{

      float: right;
      transition: all 0.3s;
}
.search-block-focus{
  width: 100% !important;
  float: right;
  transition: all 0.3s;
}

.dropdown-menu.active{
      display: block;
}
.input-search{
  border-right: none;
    border-radius: 25px 0px 0px 25px;
}
.btn-search {
    border-radius: 0px 25px 25px 0px !important;
    border: 1px solid #ced4da;
    border-left: none;
}
.phone-top{
      font-weight: 500;
  font-size: 15px;
  color: #c3c3c3;
}
.phone-top:hover{
  color: white;
  text-decoration: none;
}
</style>
