<template>
  <div class="row">
  <div class="col-12">  Мы в соцсетях</div>
    <div class="col-12"><a target="_blank" href="https://vk.com/originbags">vkontakte</a></div>
    <div  class="col-12"><a target="_blank" href="https://www.instagram.com/originbags/">Инстаграмм</a></div>
    <div  class="col-12"><a target="_blank" href="">youtube</a></div>
  </div>
</template>
