<template>
  <div class="top-menu d-none d-md-block" style="background-color: #4c3a37;">
  <div class="container">
    <div class="row ">
        <div class="">

        </div>
<div class="col-md-8 col">
  <b-navbar  toggleable="lg" type="light" variant="" class="p-0">
    <b-navbar-toggle target="top-collapse">
          <template #default="{ expanded }">
          <MenuInfo />
          </template>
        </b-navbar-toggle>
    <b-collapse id="top-collapse" is-nav>

  <NuxtLink :to="localePath('/about')" class="nav-link text-white"><small> {{ $t('about') }}</small></NuxtLink>
  <NuxtLink :to="localePath('/deliveryandpay')" class="nav-link  text-white"> <small> {{ $t('deliveryPay') }}</small></NuxtLink>
  <!--  <NuxtLink :to="localePath('/blog')" class="nav-link text-white"><small> {{ $t('blog') }} </small></NuxtLink>-->
  <!--<NuxtLink :to="localePath('/contacts')" class="nav-link text-light"> {{ $t('contacts') }}</NuxtLink>-->
  <!--<NuxtLink :to="localePath('/reviews')" class="nav-link text-light"> {{ $t('review') }}</NuxtLink>-->
  <!--  <NuxtLink :to="localePath('/privacy')" class="nav-link text-light"> {{ $t('privacy') }}</NuxtLink>-->
  <!--  <NuxtLink :to="localePath('/refundorexchange')" class="nav-link text-light"> {{ $t('Refundorexchange') }}</NuxtLink>-->


  </b-collapse>
  </b-navbar>
</div>
<div class="mt-2 d-none d-md-block">
<!--<Social />-->
</div>
        <div class="ml-auto ">



<!--
  <div class="row d-flex align-items-center ml-2 ">

    <img :src="'/'+langs+'.png'" width="20px" height="20px" >
<b-dropdown :text="langs" variant="lang" class="py-0">

 <b-dropdown-item :to="switchLocalePath('en')">EN</b-dropdown-item>
 <b-dropdown-item :to="switchLocalePath('ru')">RU</b-dropdown-item>

</b-dropdown>




</div>
-->

  </div>

    </div>
</div>
</div>
</template>
<script>
export default {
  data() {
    return {
    //  phone: '',
      lang: ''
    }
  },
  computed: {
    langs({$i18n}){
  //  return $i18n.localeProperties.code;
    //  this.lang = this.switchLocalePath().replace(/\//g, '');
    let lang = this.switchLocalePath().substr(0, 3);
    switch(lang) {
      case '/ru':
      return "ru";
      case '/en':
      return "en";
      default:
      return $i18n.localeProperties.code
    }
    }
  },
}
</script>

<style>
.work-date{
  font-size: 14px;
}
.city{
  margin-right:10px;
}
.btn-lang{
  color: black;
}

</style>
