// Option A: Include all of Bootstrap

// Customizations
.liner{
    z-index: 1022!important;
background: white;
}
.close-badge {

      border: none;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px,
  xxl: 1400px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px
) !default;
$success: #4c3a37;
$card-border-color: none;

$headings-margin-bottom: 1rem;
$border-radius: 10px;
$carousel-control-opacity: 1;
 $carousel-indicator-width: 10px;
$carousel-indicator-height: 10px;
$carousel-indicator-active-bg: black;
*:hover,
*:focus,
*:active
 {
  outline: none;
  box-shadow: none !important;
  -webkit-appearance: none;
}



$dark: black;
.nav-link{
  font-weight: 500;
  color: #c3c3c3;
}
.nav-menu .nav-link:hover{
  color: white;
}
$zindex-dropdown: 99999;

$secondary:    #e9ecef !default;
$link-color: #777777;
$link-hover-color:#7a9eff;
$breadcrumb-bg: white;
$breadcrumb-padding-y: 0px;
$breadcrumb-padding-x: 0px;
$breadcrumb-margin-bottom: 0px;
a.active{
  color: #db1010;
}

.btn-dark{
      white-space: nowrap;
      text-overflow: ellipsis;
}
.col-3,.col-6,.col-12,.col-4 {
  transition: all 0.2s;
}
$red:     #db1010 !default;
@import "node_modules/bootstrap/scss/bootstrap";


.carousel-indicators li{
  border-radius: 5px;
  border: solid 0px;
}
.card {
    overflow: hidden;
  }


.old-price{
  text-decoration: line-through #db1010;
  color:#777;
}
.card-favorite{
  z-index: 2;
  cursor: pointer;
  bottom: 30px;
  right: 25px;
}
.card-favorite:hover>div >svg>path{
  stroke: none;
  fill:#db1010;
}
.pointer:hover{
  cursor: pointer;
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}
@import 'node_modules/vue-slick-carousel/dist/vue-slick-carousel';
@import 'node_modules/vue-slick-carousel/dist/vue-slick-carousel-theme';
.carousel-wrapper>*>.slick-prev:before,
.carousel-wrapper>*>.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

.glav-slider>*>.slick-prev,.glav-slider>*>.slick-next{
  width: 30px;
height: 56px;
}

.glav-slider>*>.slick-prev,.glav-slider>*>.slick-next{
      z-index: 66;
}
.glav-slider>*>.slick-prev{
  background-image: url("data:image/svg+xml;charset=utf-8,<svg width='30' height='56' viewBox='0 0 30 56' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M28.491 55.3931L1.06006 27.962L28.491 0.531067' stroke='white' stroke-width='1.5' stroke-miterlimit='10'/> </svg>");
  left: 10px;
}
.glav-slider>*>.slick-next{
  background-image: url("data:image/svg+xml;charset=utf-8,<svg width='30' height='56' viewBox='0 0 30 56' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M0.531006 0.606934L27.9619 28.038L0.531001 55.4689' stroke='white' stroke-width='1.5' stroke-miterlimit='10'/> </svg>");

  right: 10px;
}
  .glav-slider>*>.slick-prev:before,
  .glav-slider>*>.slick-next:before {
content:'';
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: black;
    }


.badge{
    z-index: 2;
}
figure {
    margin: 0 0 0 !important;
}



.card-slider{
  position: absolute;
  top: 40%;
  z-index: 9;
}
.glav-slider{
  color: white;
}
.glav-slider .slick-slide{
  position: relative;
}
.glav-slider .slick-current>*>*>a>.card-slider{
  left: 70px;
  right: inherit !important;
  text-align: left !important;
}
.glav-slider .slick-active>*>*>a>.card-slider{
  text-align: right;
  right: 70px;
}
.dashed{
  text-decoration: none;
  border-bottom: 1px dashed #ffffff;
}
.dashed:hover{
  text-decoration: none;
  color: #ddd !important;
}

.dashed_b{
  text-decoration: none;
  border-bottom: 1px dashed black;
}
.dashed_b:hover{
  text-decoration: none;
  color: #4a4a4a !important;
}

.slimline{
  font-weight: 100 !important;
}
.glav-slider .slick-dots {
  background: white;
    bottom: 0px;
}



.glav-menu{
  position: sticky;
top: -85px;
z-index: 77;
  transition: all 0.3s;
}
.glav_menu_top{
  transition: all 0.5s;
  top: 0px !important;
}
.glav_menu_mob{
  top: -200px !important;
}
.menu_mob li{
  width: 100%;
}
.ul_list{
  margin-left: 0;
   padding-left: 0;
}
.li_list{
  list-style-type: none;

}
.payer>div:hover{
  background: #f3f3f3;
  border-radius: 10px;
  cursor: pointer;
}
.payer>div{border: solid 1px white;}
.payer> .active{
      border: solid 1px #d1d1d1;
    transition: all 0.5s;
  background: #e9ecef;
  border-radius: 10px;
}
.btn-dark:hover {
  transition: all 0.5s;
color: black;
  background-color: white;
    border-color: black;
}
.btn-dark-reverse:hover {
    transition: all 0.5s;
  color: #fff;
      background-color: black;
      border-color: black;
}
.btn-dark-reverse {

color: black;
  background-color: white;
    border-color: black;
}

.fast_btn{
    display: none;
white-space: nowrap;
  background: #ffffff7a;
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
top: 50%;
position: absolute;
left: 50%;
z-index: 66;
color: black;
}
.modal-header {
  border-bottom: none;
}
.bgmenu{
  background-image: url(~assets/bgmenu.jpg);
}
.input-search {
    border-radius: 0px 0px 0px 0px !important;
}

.my-btn-search {
    border-radius: 0px 0px 0px 0px !important;
    border: 1px solid #ced4da;
    border-left: none;
    background: white;
}
.icon-nav{
  width: 20px;
height: 20px;
}
.button-icon{    background: #f3f3f3;
    border-radius: 20px;
    padding: 10px;}
.login-drop{
  position: absolute;
      top: 10px;
}
#myCarousel.carusel.slide{
  text-shadow: 0px 0px 0px #333;
}
.carousel-indicators li {
      background-color: white;
}

h3, .h3 {
    font-size: 1.4rem;
}
.navbar-menu{
      border-bottom: solid 1px #b7b7b7;
}

.bg-brown {
    background-color: #4c3a37 ;
}
#__BVID__70__BV_toggle_{
  color: white;
}
#filter-collapse  .nav-link{
      color: #666666;
}
#filter-collapse .nav-link:hover{
      color: black;
}
.login-drop>.btn{
  color: white;
}
#cart >a small{
    color: white;
}
#cart >a:hover{ text-decoration: none; }
