<template>
<div class="container mt-2">
  <SocialHead
     :title="title"
     :description="title"
     :url="'/catalog/'+category+'/'+title"
   />

  <b-breadcrumb>
    <li v-for="(item, index) in items" :key="index" class="breadcrumb-item" v-bind:class="{ active: item.active }">
      <span v-if="item.active" aria-current="location">{{ $tc(item.text,2) }}</span>
      <NuxtLink v-else :to="localePath(`${item.href}`)"> {{ $tc(item.text,2) }}</NuxtLink>
    </li>
  </b-breadcrumb>

  <div class="row">


    <div class="col-12 col-sm-12 col-lg-2 ">
      <FilterCard v-on:change="filter($event)"  v-on:clear="clear()"/>
    </div>


    <div class="col-12 col-sm-12 col-lg-10 ">
      <div class="mb-2">{{ $t('sortby') }}: <a href="#" class="active mr-2">{{ $t('popularity') }}</a> <a href="#" class=" mr-2">{{ $t('byprice') }}</a></div>
      <div class="row">
        <div  :class="'col-'+colCount" v-for="item in catalog" :key="item.id">
          <Card :link="`/catalog/${item.category}/${item.title.toLowerCase()}/${item.id}`" :catalog="item" v-on:fast="fast_card($event)"  />
        </div>
        <div v-if="catalog.length==0" class="m-auto pt-5">{{ $t('result') }}</div>
      </div>

    </div>

  </div>

<FastCard :id="fast_id" :url="`catalogids?&title=`+title.toUpperCase()"/>
</div>
</template>
<script>
export default {
  data() {
    return {
          fast_id:1,
      colCount: 4,
      items: [{
          text: 'home',
          href: '/'
        },
        {
          text: 'catalog',
          active: true
        }
      ]

    }
  },
  async asyncData({
    params,
    $axios,
    $config
  }) {
    const catalog = await $axios.$get(`/catalog?category=${params.category}&title=${params.title.toUpperCase()}`)
    const items=[{ text: 'home', href: '/'},{ text: 'catalog', href: '/catalog'},{ text: params.category, href: '/catalog/'+params.category},{ text: params.title.toUpperCase(), active: true}]
    const category =params.category
    const title =params.title.toLowerCase()
    return { catalog, items, category,title}

  },

  head() {
        return {
          title: this.title.toUpperCase()+' '+this.$tc(this.category, 1),
          meta: [
          {
            hid: 'description',
            name: 'description',
            content: this.$tc(this.category, 1)+' '+this.title.toUpperCase()+' сумка из натуральной кожи ORIGINBAGS'
          },
          {
            hid: 'keywords',
            name: 'keywords',
            content: this.title+' сумка, ORIGINBAGS, натуральная кожа, 100% кожа'
          }
        ]
     }
  },


  mounted() {
    if (window.innerWidth <= 560) {
      this.colCount = 6
    }
  },

  methods: {
    fast_card($event){
      this.fast_id=$event
    },
    getCol(count) {
      this.colCount = count
    },
  async  clear(){
    const catalog = await this.$axios.$get(`/catalog?category=${params.category}`)
      this.catalog=catalog
    },
  async  filter(array) {
    console.log(array)
    if(array["color"]!=''&&array["size"]!=''){
      const catalog = await this.$axios.$get(`/catalog?&color=`+array["color"]+'&price=['+array["price"][0]+','+array["price"][1]+']'+'&size='+array["size"])
      this.catalog=catalog
    }else if(array["color"]!=''){
        const catalog = await this.$axios.$get(`/catalog?&color=`+array["color"]+'&price=['+array["price"][0]+','+array["price"][1]+']')
        this.catalog=catalog
    }else if(array["size"]!=''){
      const catalog = await this.$axios.$get('/catalog?&price=['+array["price"][0]+','+array["price"][1]+']'+'&size='+array["size"])
      this.catalog=catalog
    }else{
      const catalog = await this.$axios.$get('/catalog?&price=['+array["price"][0]+','+array["price"][1]+']')
      console.log(catalog.length)
      this.catalog=catalog
    }
    }
  }

}
</script>
<style>
.pointer {
  cursor: pointer;
}

.colorFilter {
  width: 30px;
  height: 30px;
}

.colorFilter.active {
  transition: all 0.2s;
  width: 40px;
  height: 40px;
}
</style>
