<template>
<div class="container  mt-5 p-3 " >
  <h1>Заказ {{ slug }}</h1>
<p>Спасибо! Ваш заказ принят, в ближайшее время с Вами свяжется менеджер для уточнения заказа.</p>
  </div>
</template>
<script>
import {
  mapMutations
} from 'vuex'

export default {
  async asyncData({ params }) {
    const slug = params.id
    return { slug }
  }

}
</script>
