<template>
    <div style="position: relative;">
    <TopNav/>

    <div v-bind:class="{ glav_menu_top: isActive, glav_menu_mob: isMob }" class=" bg-brown glav-menu ">
      <SearchMenu/>
      <Navbar v-bind:class="{menu_mob: isMob }"  />

      </div>

      <div class="wrapper">
    <Nuxt />
    </div>
  <!--    <CatalogPhone/>
    <CatalogWhatsapp/>-->
<CatalogScroll/>
    <Footer/>

  <!--  <b-modal id="modal" hide-footer centered ref="modal">
      <b-button class="mt-3" variant="dark " block @click="goCart">ОФОРМИТЬ</b-button>
    <div class="text-center">или</div>
    <b-button class="mt-2" variant="" block @click="hideModal">ПРОДОЛЖИТЬ ПОКУПКИ</b-button>
  </b-modal>-->
<b-modal ok-title="Оформить" cancel-title="Продолжить"  ok-variant="dark" @ok="handleOk" centered id="modal-xl">Товар добавлен в корзину</b-modal>
  </div>
</template>
<script>
  export default {


    data() {
      return {
       scroll:0,
       isActive: false,
       isMob: false
      }
    },
  /*  async fetch() {
          this.contacts = await this.$axios.$get(`/contacts`)
          this.$store.commit('order/addContact', this.contacts)

        },*/
        mounted() {
          if (window.innerWidth <= 560) {
          this.isMob=true
        //    console.log(  this.slickOptions.slidesToShow)
          }
        },
    methods:{
      handleScroll(){
        if(window.scrollY<this.scroll){
          if (window.innerWidth > 560) {
            this.isActive=true
          }
        }else{
          this.isActive=false
        }
        this.scroll=window.scrollY
      },
      handleOk(){
        this.$router.push({ path: '/cart'})
      },
      hideModal() {
        this.$refs['modal'].hide()
      },
    /*  goCart() {
        this.$router.push({ path: '/cart'})
          this.$refs['modal'].hide()
      },*/
    },
    beforeMount () {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  }
  }
</script>
