<template>
  <div class="container mt-2">
    <SocialHead
       :title="$t('shopofbags')"
       :description="$t('description')"
       :url="'/about'"
     />
    <b-breadcrumb>
      <li v-for="(item, index) in items" :key="index" class="breadcrumb-item" v-bind:class="{ active: item.active }">
        <span v-if="item.active" aria-current="location">{{ $t(item.text) }}</span>
        <NuxtLink v-else :to="localePath(`${item.href}`)"> {{ $t(item.text) }}</NuxtLink>
      </li>
    </b-breadcrumb>

<h1 class="mt-4"><span class="orange">{{ $t('about') }}</span></h1>

<div class="row py-2">
  <div class=" ">{{content.body[0].text}}</div>
</div>
<div class="row py-2">
  <div class="">{{content.body[1].text}}</div>
</div>
<div class="row py-2">
  <div class="">{{content.body[2].text}}</div>
</div>

<!--<span class="row py-5" v-html="content.body[3].text"></span>-->

  </div>
</template>

<script>
export default {
  data() {
    return {
      width: 0
    }
  },
  async asyncData({app,$axios, $config }) {
  //  let lang = this.switchLocalePath().substr(0, 3);
    const items=[{ text: 'home', href: '/'},{ text: 'about', active: true}]
    const content = await $axios.$get(`/about?lang=`+app.i18n.localeProperties.code)
  //  console.log(app.i18n.localeProperties.code )+app.i18n.localeProperties.code
    return { content,items}
  },
  head() {
        return {
          title: this.$t('about'),
          meta: [
          {
            hid: 'description',
            name: 'description',
            content: 'Всегда в наличие женские и мужские сумки из кожи, собственное производство'
          },
          {
            hid: 'keywords',
            name: 'keywords',
            content: 'сумки, ORIGINBAGS, натуральная кожа, 100% кожа'
          }
        ]
     }
  },

  mounted() {
  if(window.innerWidth<=560){
    this.width=window.innerWidth-100
  }else{
    this.width=560
  }
   }

}
</script>

<style>

</style>
