<template>
  <div v-if="auth" class="container p-3 mb-5" >
<h1>Кабинет <small>({{accaunt.phone}})</small></h1>
<p>Добро пожаловать, мы рады что вы с нами.<br/> В личном кабинете вы получите доступ к уникальным предложениям именно для Вас</p>
<div class="row">
<div class="col">
  <div class="card text-black bg-secondary    mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title" style="color: #dc3545 !important;">Мои заказы <span class="badge bg-primary text-white">{{accaunt.orderscount}}</span> </h5>
    </div>
  </div>

</div>
<div class="col">
  <div class="card text-black bg-secondary    mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Бонусы <span class="badge bg-primary text-white">{{accaunt.bonus}}</span> </h5>
    </div>
  </div>
</div>
<div class="col">
  <div class="card text-black bg-secondary    mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Уведомления <span class="badge bg-primary text-white">0</span> </h5>
    </div>
  </div>
</div>
<div class="col">
  <div class="card text-black bg-secondary    mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Сертификат <span class="badge bg-primary text-white">0</span> </h5>
    </div>
  </div>
</div>
<div v-if="accaunt.phone=='79140073313'||accaunt.phone=='79384430118'||accaunt.phone=='79687401072'||accaunt.phone=='79891680888'" class="col">
  <div class="card text-black bg-secondary    mb-3" style="max-width: 18rem;">
    <div class="card-body">
        <NuxtLink :to="localePath('/analitics/')"><h5 class="card-title">Аналитика </h5></NuxtLink>
    </div>
  </div>
</div>
</div>
<p class="mt-3"><b>Заказы</b></p>
<div v-if="accaunt.orders" >
  <div v-for="(order,index) in accaunt.orders" :key="index" class="card text-black bg-secondary mb-3">
    <div class="card-header"><b>{{order.id}}</b></div>
    <div class="card-body">
      <p v-for="(once,index) in order.order" :key="index" class="card-text">
        <NuxtLink :to="localePath('/catalog/'+once.category+'/'+once.title.toLowerCase())+'/'+once.id">
        <img :src="once.src" width="50px"/>  {{once.title}} {{once.price}} ₽ х {{once.count}}
        </NuxtLink>
      </p>
    </div>
    <div class="card-footer">
      <b>сумма {{order.sum}}р</b>
    </div>
  </div>

</div>

</div>
</template>

<script>
export default {
  data() {
    return {
      auth: false,
      accaunt:[]
    }
  },
  beforeMount() {
       if(this.$store.state.order.token){
         this.auth=true
         let token =this.$store.state.order.token
         const accaunt =   this.$axios.$get(`/accaunt?&token=`+token)
         .then(response => {
         this.accaunt=response
          })
       }else{
          this.$router.push({ path: '/'})
       }
   },
   methods:{



   }

}


</script>
