<template>
<div v-if="auth&&accaunt.phone=='79140073313'" class="container p-3 mb-5" >
    <b-breadcrumb>
      <li >
        <NuxtLink  :to="localePath('/accaunt')"> Аккаунт </NuxtLink>
      </li>
      <li class="active" >
        <a> / Аналитика</a>
      </li>
    </b-breadcrumb>
<h1>Аналитика</h1>

<!--


<table>
<tr>
  <td style="vertical-align: middle">C </td>
  <td style="vertical-align: middle"><div style="width: 200px;">

    <b-form-datepicker id="example-datepicker" v-model="value" class="mb-2"></b-form-datepicker>
  </div>
<td style="vertical-align: middle"> По </td>
</td>
  <td style="vertical-align: middle">  <div style="width: 200px;">

        <b-form-datepicker id="example-datepicker2" :disabled="disabled" placeholder="YYYY-MM-DD"  v-model="value2" class="mb-2"></b-form-datepicker>

      </div></td>
      <td style="vertical-align: middle">
      <button class="btn btn-light col-12">Показать</button> </td>
</tr>
</table>
<table>
<tr>
<td style="vertical-align: middle"> <button class="btn btn-light col-12">За текущий месяц</button></td>
<td style="vertical-align: middle"> <button class="btn btn-light col-12">За последние 7дней</button></td>
<td style="vertical-align: middle"> <button class="btn btn-light col-12">За предидущий месяц</button></td>
</tr>
</table>
-->

<div class="row">
<div class="col-12 col-md-6">
  <Chart vol="единиц" :dataset="analitics[0].chart"  />
  <div class="row">
  <div class="col-sm-4 col-12"><Chart vol="единиц" :dataset="analitics[7][2].chart" respons="true" /></div>
  <div class="col-sm-4 col-12"><Chart vol="единиц" :dataset="analitics[7][0].chart" respons="true" /></div>
    <div class="col-sm-4 col-12"><Chart vol="единиц" :dataset="analitics[7][1].chart" respons="true" /></div>
  </div>

</div>
<div class="col-12 col-md-6">
  <Chart vol="продаж" :dataset="analitics[1].chart"  />
  <div class="row">
  <div class="col-sm-4 col-12"><Chart vol="продаж" :dataset="analitics[8][2].chart "  respons="true" /></div>
  <div class="col-sm-4 col-12"><Chart vol="продаж" :dataset="analitics[8][0].chart" respons="true" /></div>
    <div class="col-sm-4 col-12"><Chart vol="продаж" :dataset="analitics[8][1].chart" respons="true" /></div>
  </div>

</div>

</div>




<h4 class=" mt-5">Выпуск</h4>
  <span v-if="viewproizend>3" class="pointer pb-2" v-on:click="getAll()">Раскрыть все (Последние {{viewproizend}} документов)</span>
<div class="row">

  <div class="col" v-if="index<=viewproizstart" v-for="(item,index) in analitics[6]" :key="index">
    <div  class="card bg-light mb-2" style="width: 18rem;">
      <div class="card-body"><small>{{item.date}} {{item.time}}</small>
        <h6 class="card-title">{{item.numberZakaz}} </h6>

        <small>{{item.name}}  {{item.count}}шт. <br/></small>
        Сумма {{item.price}} руб.
      </div>
    </div>
  </div>

</div>

<div class="py-4">
<h4>Склад</h4>
<p>Остаток на складе <b>{{analitics[3].ost}} ед.</b>  продукции, на сумму <b>{{analitics[3].ostSum}} руб.</b></p>
<p>Продукция Elborso <b>{{analitics[3].ostElborso}}</b> едениц, на сумму <b> {{analitics[3].ostElborsoSum}} </b>, сторонняя продукция <b>{{analitics[3].ost-analitics[3].ostElborso}}</b> на сумму <b>{{analitics[3].ostSum-analitics[3].ostElborsoSum}}</b></p>
<div class="row" style="overflow: auto;">
  <div class="col-12" style="min-width: 1000px;"><Barchart vol="продаж" :dataset="analitics[5].chart"  /></div>

</div>
</div>

<div class="table-responsive">
<table class="table table-striped my-4" >
  <thead>
    <tr >
        <th scope="col">Арт</th>
      <th scope="col">Наименование</th>
      <th scope="col">Остаток</th>
      <th scope="col">Цена</th>
      <th scope="col">Сумма</th>

    </tr>
  </thead>
  <tbody>
    <tr v-for="(item,index) in analitics[9]" :key="index">
      <td v-if="item.arth!=''">{{item.arth}}</td>
      <td v-else>{{item.art}}</td>
      <td>{{item.name}} {{item.nameh}}</td>

      <td>{{item.count}}</td>
      <td>{{item.price}}</td>
        <td>{{item.price*item.count}}</td>
    </tr>
    <tr><td></td><td></td><td><b>{{analitics[3].ost}}</b></td><td></td><td><b>{{analitics[3].ostSum}}</b></td></tr>
  </tbody>
</table>
</div>

<CatalogScroll/>
</div>
</template>

<script>
export default {
  data() {
    return {
        value: '',
        value2: '',
        viewproizstart: 3,
        view: 3,
      auth: false,
      accaunt:[]
    }
  },
  async asyncData({
    params,
    $axios,
    $config
  }) {

 const analitics = await $axios.$post(`/analitics`)
//console.log(analitics.graph);
//console.log(analitics[0].proizvodstvo.reduce((sum, item) => sum + item.price, 0));
const viewproizend=analitics[6].length;
//console.log(analitics[0].proizvodstvo.length);
    return {analitics,viewproizend}

  },
  methods:{
    getAll() {
      if(this.viewproizstart!=this.viewproizend){
        this.viewproizstart = this.viewproizend
      }else{
        this.viewproizstart = this.view
      }
    },
  },
  beforeMount() {
       if(this.$store.state.order.token){
         this.auth=true
         let token =this.$store.state.order.token
         const accaunt =   this.$axios.$get(`/accaunt?&token=`+token)
         .then(response => {
         this.accaunt=response
          })
       }else{
          this.$router.push({ path: '/'})
       }
   },

}


</script>
