<template>
<div class="container p-3 mb-5" >
  <h1>{{ $t('cart') }}</h1>
  <div class="mb-5" v-for="(order,index) in orders" :key="index">
  <CardMini :order="order" :index="index" :id="order.id"/>
  </div>


<form>

  <!--client data-->
    <h5 class="orange mt-5  mb-4">{{ $t('customerdata') }}</h5>
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">{{ $t('name') }}</label>
      <div class="col-sm-6">
        <input type="text" name="name" v-model="name" class="form-control" id="inputName" >
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPhone" class="col-sm-2 col-form-label">{{ $t('phonenumber') }} <span class="text-danger">*</span></label>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <select class="custom-select border-0" v-model="selected">
               <option v-for="option in options" v-bind:value="option.value">
                 {{ option.text }}
               </option>
             </select>
          </div>

        <input type="text" name="phone" autocomplete="off" v-bind:class="{'is-invalid': invalid}" v-model="phone" placeholder="8-000-000-0000" v-mask="'#-###-###-####'" class="form-control " id="inputPhone" >
      </div>

        <div v-if="invalid" class="invalid-feedback d-block">
         {{ $t('errorPhone') }}
       </div>
      </div>
    </div>
  <!--client data-->

    <h5 class="orange mt-5  mb-4">{{ $t('adress') }} <small>({{$t('notnecessary')}})</small></h5>
  <div class="form-group row">

    <div class="col-sm-6">
      <input type="text" name="adress"  v-model="adress" class="form-control" id="inputAdress" >

      <div v-if="adressList.length>0 && adressList[0].value!=adress"  class="dropdown-menu active" aria-labelledby="dropdownMenuButton" >
        <li   v-for="(item,index) in adressList" :key="index">
        <a @click="adress=item.value" class="pointer"> {{item.value}}</a>
      </li>

      </div>

    </div>
  </div>



  <h5 class="orange mt-5  mb-4">{{$t('pay')}}</h5>
<div class="row payer">
  <div v-bind:class="{'active': payMethodActive=='cdek'}"  class="col-auto text-center  p-2 "  @click="payMethod('cdek')">
     <CartCdek/>
     <p>{{$t('Paymentuponreceipt')}}</p>
   </div>

<!--  <div v-bind:class="{'active': payMethodActive=='curer'}" class="col-auto text-center  p-2" @click="payMethod('curer')">
      <CartCurer/>
    <p>Оплата
    курьеру<br/>
    по Москве</p>
  </div>-->
<!--
<div v-bind:class="{'active': payMethodActive=='card'}" class="col-auto text-center  p-2" @click="payMethod('card')">

  <CartCard/>
  <p>{{$t('Paymentbycard')}}</p>
</div>
-->
</div>



  <h5 class="orange mt-5  mb-4">{{$t('Promocode')}}</h5>
<div class="form-group row ">
  <div class="col-sm-3 mb-3">
    <input v-bind:class="{'is-invalid': errorPromo}" type="text" name="name" v-model="promo" class="form-control" id="inputName" >
  </div>

  <div class="col">
    <button type="button" v-bind:disabled="!checked"  class="btn btn-success" @click="getPromo()">{{$t('Apply')}}</button>
    </div>
    <div v-if="errorPromo" class="invalid-feedback d-block">
     {{ errorPromo}}
    </div>
  </div>



  <!--<span>Доставка: 300 руб.</span>-->
  <h5 v-bind:class="{'old-price': sumBonus}">{{ $t('total') }}:  {{sumCart}} {{$t('valuta')}}</h5>

  <div v-if="sumBonus">
  <span>-{{bonus}} {{$t('bonuses')}}</span>
  <h5>{{ $t('total') }}:  {{sumBonus}} {{$t('valuta')}}</h5>
</div>
<!--  <b-form-radio-group
  v-model="selected"
  :options="options"
  class="mb-3"
  value-field="item"
  text-field="name"
  disabled-field="notEnabled"
></b-form-radio-group>
-->
<b-form-checkbox
class="py-3"
     id="checkbox-1"
     v-model="checked"
     switch
     checked="checked"
   >
  <NuxtLink :to="localePath('/privacy')" class="">{{ $t('privacy') }}</NuxtLink>
   </b-form-checkbox>


    <button type="button" v-bind:disabled="!checked"  class="btn btn-success btn-lg" @click="post()">{{ $t('pay') }}</button>

    <a v-if="bonus>0" type="button" class="btn btn-success btn-lg ml-3" @click="applyBonus()">{{ $t('use') }} {{$t('bonuses')}}<span class="badge bg-primary text-white">{{bonus}}</span></a>
</form>
<div class="mt-5">
  <span class="text-success">{{ $t('freeshipping') }}</span> <span class="text-success sphere">{{ $t('payaftinspection') }}</span><br/>
    <NuxtLink :to="localePath('/deliveryandpay')"><small>{{ $t('shippingterms') }}</small></NuxtLink></br>
    <p>  {{ $t('bonuse') }}</p>

  </div>
  </div>
</template>
<script>
import {
  mapMutations
} from 'vuex'

export default {
  data() {
    return {
      errorPromo:false,
      promo:'',
      payMethodActive: 'cdek',
      sumBonus:0,
      bonus: 0,
      checked: true,
      counter: 1,
      name:'',
      phone: '',
      adress: '',
      adressList: 0,
      invalid: false,
      selected: '7',
      options: [
       { text: 'ru', value: '7' }
     ]
    }
  },
watch: {
  adress: function (val) {
    const accaunt =   this.$axios.$post(`https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/address`,
      {query: val},
      {
  headers: {
    'Authorization': `Token af83c854799006109012220fe4042f56ac66b3b9`
  }
})
    .then(response => {
      this.adressList=response.suggestions
     })
     .catch(this.adressList=0)
   },
},
  computed: {
    sumCart () {


      if(this.$store.state.order.sum>0){
        this.isButtonDisabled=false
      }else{
        this.isButtonDisabled=true
      }
      return this.$store.state.order.sum
    },
    orders() {
      return this.$store.state.order.list
    },

  },
  mounted() {
       if(this.$store.state.order.token){

         let token =this.$store.state.order.token
         const accaunt =   this.$axios.$get(`/accaunt?&token=`+token)
         .then(response => {
          this.bonus=response.bonus
          this.phone=response.phone
          this.selected=response.phone[0]
          })
       }
   },

    methods: {
      getPromo(){
        if(this.promo.length>0){
          const promo =   this.$axios.$get(`/promo?key=`+this.promo)
          .then(response => {
            console.log(response);
            if(response!=false){
              this.errorPromo=false
              this.sumBonus=this.$store.state.order.sum-this.$store.state.order.sum*response
            }else{
              this.errorPromo='Промокод не действителен или введен не верно!'
            }
           })
        }else{
          this.errorPromo=false
        }


      },
      payMethod(method){
        this.payMethodActive=method

//console.log(method)
      },
      applyBonus(){
        if(this.bonus<=this.$store.state.order.sum){
          this.sumBonus=this.$store.state.order.sum-this.bonus
        }else{
          this.bonus=this.bonus-this.$store.state.order.sum
        }
      },
    async post(){

    if(this.phone.length!=14){
        this.invalid=true
      }else{
        var order = this.$store.state.order.list.filter(Boolean)
        if(this.sumBonus!=0){
          var sum = this.sumBonus;
        }else{
          var sum = this.$store.state.order.sum;
        }
          var bonus=this.bonus
     var phone =this.phone.replace(/[^\d]/g, '')
        //  console.log(this.phone)
      //    console.log(this.selected+''+phone)
   var phonecod = phone.substring(1);
//console.log(phonecod);

/*this.$fb.track('Pay', {
  currency: "RUB",
  value: sum
})*/


let payMethodActive=this.payMethodActive;

    var client={"name":this.name,"phone":this.selected+phonecod,"adress":this.adress}

    const mountains = await  this.$axios.$post(`/order`,{ client: client, order,sum: sum, bonus: bonus, payMethod: payMethodActive})


     if(this.payMethodActive=='card'){
       this.$axios.$get(`/pay?zakaz=`+mountains+'&sum='+sum)
       .then(response => {
      //  this.bonus=response
        window.open(response);
        })
     }

     this.$store.state.order.list=[]
     this.$store.state.order.sum=0

   this.$router.push({ path: '/order/'+mountains})


    /*  */
      }
/*if(this.phone)

*/
      }
    }
}
</script>
