<template>
  <div class="container mt-2">
    <b-breadcrumb>
      <li v-for="(item, index) in items" :key="index" class="breadcrumb-item" v-bind:class="{ active: item.active }">
        <span v-if="item.active" aria-current="location">{{ $t(item.text) }}</span>
        <NuxtLink v-else :to="localePath(`${item.href}`)"> {{ $t(item.text) }}</NuxtLink>
      </li>
    </b-breadcrumb>

<h1 class="mt-4"><span class="orange">{{ $t('deliveryPay') }}</span></h1>

<div class="row">
  <div class="py-5 col-6">
  <span v-html="content.body[0].text"></span>
  </div>
</div>

<div class="row">
  <div class="py-2 col-6">
  <span v-html="content.body[1].text"></span>
  </div>
</div>
<div class="row">
  <div class="py-4 col-6">
  <span v-html="content.body[2].text"></span>
  </div>
</div>


  </div>
</template>

<script>
export default {
  data() {
    return {
      width: 0
    }
  },
  mounted() {
  console.log(window.innerWidth)
  if(window.innerWidth<=560){
    this.width=window.innerWidth-100
  }else{
    this.width=560
  }
},
  async asyncData({app,$axios, $config }) {
  //  let lang = this.switchLocalePath().substr(0, 3);
    const items=[{ text: 'home', href: '/'},{ text: 'deliveryPay', active: true}]
    const content = await $axios.$get(`/deliveryandpay?lang=`+app.i18n.localeProperties.code)
    //+app.i18n.localeProperties.code

    return { content,items}
  },
  head() {
        return {
          title: this.$t('deliveryPay'),
          meta: [
          {
            hid: 'description',
            name: 'description',
            content: 'Доставка по всей России ТК СДЭК и почта России'
          },
          {
            hid: 'keywords',
            name: 'keywords',
            content: 'сумки, ORIGINBAGS, натуральная кожа, 100% кожа, интернет-магазин'
          }
        ]
     }
  }

}
</script>

<style>

</style>
