<template>
  <div>
  <!--  <SocialHead
       :title="$t('shopofbags')"
       :description="$t('description')"
       :image="content.carusel[0].src"
       url="/"
     />
     <div class="container ">
       <div class="w-100">
         <CaruselTop :images="content.carusel_new" />
       </div>
     </div>-->
  <div class="container mt-2 pt-2 ">


<div class="col-12 d-block d-md-none mt-5">
  <!--  <NuxtLink :to="localePath('/catalog')" class="btn btn-success col-12">
  {{ $t('catalog') }}
</NuxtLink>-->
</div>


<section class="mt-5">
   <div class="h3">{{ $t('bestseller') }} </div>
 <div class="row mt-3">
<!--
<div class="col-sm-3 col-6" v-for="(item,index) in content.hits" :key="index">
<Card :link="`/catalog/${item.category}/${item.title.toLowerCase()}/${item.id}`" :catalog="item" :index="content.hits.id" v-on:fast="fast_card($event)"/>
    </div>
-->
    </div>
</section>

<section class="mt-5">
   <div class="h3">{{ $t('sale') }} </div>
 <div class="row mt-3">
<!--
<div class="col-sm-3 col-6" v-for="(item,index) in content.sale" :key="index">
<Card :link="`/catalog/${item.category}/${item.title.toLowerCase()}/${item.id}`"  :catalog="item" :index="content.hits.id" v-on:fast="fast_card($event)"/>
    </div>
-->
    </div>
</section>
<!--<section class="mb-5">
  <CaruselBottom :images="content.carusel" />
</section>-->




</div >

<div class="container mt-3">
  <p>Интернет-магазин OriginBags – это высокое качество сумок из натуральной кожи. </br>
    В онлайн-каталоге OriginBags представлены сумки и аксессуары из натуральной кожи для женщин и мужчин.</br> Мы заботимся о качестве продукции и гарантируем , что преобретеная у нас продукция будет соответсвовать Вашим ожиданиям!</br>
    Так же Вы получите 10% скидки на следующую покупку!
   </p>
  </div>


<FastCard :id="fast_id" :url="`/indexids`" />
  </div>
</template>

<script>

export default {
  async asyncData({ $axios, $config }) {
    const content = await $axios.$get(`/products`)

  //  const sale = await $axios.$get(`/catalog?ids=[`+content.sale+']')
  //  const hits = await $axios.$get(`/catalog?ids=[`+content.hits+']')
  //  console.log(sale)
    return {content}
  },

  data() {
    return {
        fast_id:1,
      width: 0
    }
  },
  methods: {

    fast_card($event){
      this.fast_id=$event
    }
    },


}
</script>
