<template>
<div class="container mt-4" itemscope itemtype="http://schema.org/Product">
  <SocialHead
     :title="catalog.title"
     :description="catalog.descript"
     type="product"
     :image="catalog.images[0].src"
     :url="'/catalog/'+catalog.category+'/'+catalog.title.toLowerCase()+'/'+catalog.id"
   />

  <b-breadcrumb>
    <li v-for="(item, index) in items"  :key="index" class="breadcrumb-item" v-bind:class="{ active: item.active }">
          <span v-if="item.active" aria-current="location">{{ $t(item.text) }} <small>{{ $tc(item.color,2) }} </small> </span>
            <NuxtLink v-else :to="localePath(`${item.href}`)" > {{ $tc(item.text,2) }}</NuxtLink>
      </li>
</b-breadcrumb>

<div class="py-1 text-top">
</div>

<div class="row mt-2">
  <div class="col-lg-1 col-sm-2  d-none d-md-block slider_privew_over" >
    <div class="row slider_privew" :style="'transform: translate3d(0px, '+heightSlider+'px, 0px); transition: all .3s;'">
        <div  v-for="(image, index) in catalog.minimize" :key="index" class="pb-3  ">
        <img v-bind:class="{ active: isActive==index }" v-on:click="slideGo(index)" :src="image.src" width="70px" class="rounded pointer" >
        </div>
    </div>
  </div>
<div class="col-lg-5 col-sm-10 col-12 mb-5">

  <CaruselProduct ref="childComponentA" :images="catalog.images" :originals="catalog.originals" v-on:change="previewActive($event)" />

</div>

<div class="col-sm-12 col-lg-6">
<h1 itemprop="name">{{ $tc(catalog.category, 1) }} {{catalog.title}} </h1>
<div  itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<span class="h3" itemprop="price" >{{catalog.price}}</span> <span class="h3"> {{$t('valuta')}} </span><meta itemprop="priceCurrency" content="RUB"> <span v-if="catalog.priceOld" class="h4 old-price ml-5">{{catalog.priceOld}} ₽</span>
 <span v-if="catalog.new" class="badge bg-danger text-light m-2 p-2">{{ $t('new') }}</span>
 <span v-if="catalog.hit" class="badge bg-success text-light p-2 position-absolute m-2 ">{{ $t('best') }}</span>
 <div >
<!--   <small v-if="catalog.availability" class="text-success"><link itemprop="availability" href="http://schema.org/InStock">{{ $t('instock') }},<span v-if="catalog.count<10">{{$t('instock')}} {{catalog.count}} {{$t('Derby')}}</span><span v-else> {{ $t('instock') }} 10 {{ $t('Derby') }}</span> </small>
   <small v-else class="text-danger">{{ $t('outofstock') }}</small>-->
   <div> {{ $t('article') }}:{{ catalog.art}} </div>
 </div>
</div>



<div >
   {{ $t('delivery') }}: {{catalog.dateDelivery.startday}}-{{catalog.dateDelivery.endday}} {{$tc('month.'+catalog.dateDelivery.month,2)}}<br/>
<span class="text-success">{{ $t('freeshipping') }}</span> <span class="text-success sphere">{{ $t('payaftinspection') }}</span><br/>
  <p>  {{ $t('bonuse') }}</p>


 </div>
<div class="row mt-4">
<div class="col-10">

  <button v-b-modal="'modal'" type="button"  v-b-modal.modal-xl class="btn btn-lg btn-success w-100" v-on:click="addTodo(catalog.id,catalog.category,catalog.title,catalog.price,1,catalog.src)">{{ $t('inCart') }} </button>
<button v-b-modal="'modal'" type="button"  class="btn btn-lg  btn-secondary mt-3 w-100" v-on:click="buynow(catalog.id,catalog.category,catalog.title,catalog.price,1,catalog.src)">{{ $t('buynow') }} </button>

</div>

<div class="col-2">
<span class="card-favorite"><CatalogFavorite :catalog="catalog" /></span>
</div>
</div>
<div class="mt-2">
{{$t('colorTitle')}}: {{$tc('color.'+catalog.characteristic.color,1)}}

<div class="slider row container">
    <div  v-for="(image, index) in catalog.productColor" :key="index" class="slide_priview p-2" >
  <NuxtLink :to="localePath(`${hrefColor}/${image.id}`)" >   <img v-bind:class="{ active: image.id==idactive }"  v-on:click="slideGo(index)" :src="image.src" width="70px" class="rounded pointer" >  </NuxtLink>
    </div>
</div>

</div>



</div>
</div>


  <div class="py-3">
<h2>{{$t('aboutProduct')}}</h2>
<p itemprop="description" v-html="catalog.descript"></p>
<iframe v-if="catalog.YoutubeSrc" :width="width" height="315" :src="catalog.YoutubeSrc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="row py-3">
      <div class="col">

        <div v-if="catalog.сharacteristics" >

    <h2>{{$t('characteristic')}}</h2>

    <ul class="ul_list" >
    <li  class="li_list" v-for="(сharacteristic, index) in catalog.сharacteristics.сharacteristics" :key="index">
      <b>{{сharacteristic.name}}</b>: {{сharacteristic.body}}
    </li>
    </ul>
    </div>

  </div>
      <div class="col">
        <div class="col" v-if="catalog.сharacteristics">

          <div v-if="catalog.сharacteristics" >

      <h2>{{$t('Peculiarities')}}</h2>

      <ul class="ul_list" >
      <li  class="li_list " v-for="(сharacteristic, index) in catalog.сharacteristics.dop" :key="index">
        {{сharacteristic}}
      </li>
      </ul>
      </div>

    </div>

      </div>
  </div>
<div class="row py-3">
<div class="col">
  <div >

<!--<h2>{{$t('Tags')}}</h2>
{{catalog.key}}-->

</div>
</div>
<div class="col">
  <div v-if="catalog.сharacteristics" >

<h2>{{$t('Package')}}</h2>
{{$t('Spunbondnonwovenfabric')}}<BR/>
  {{$t('Package')}}
</div>
</div>
</div>



<div id="review_card" v-if="catalog.reviews" class="py-3">
  <h2>{{$t('review')}}</h2>

<div class="review" v-for="(review, index) in catalog.reviews" :key="index">
<div class="row container">
  <div class="col-auto">
    <img src="/PersonalPhoto.png" >
    </div>
    <div>
      <div>{{review.name}}</div>
      <div><small>{{review.date}}</small></div>
    </div>

</div>

  <div class="p-3">
  <p>{{review.body}}</p>
  </div>
  <div v-if="review.comment" class="ml-4">
    <div class="row container">
      <div class="col-auto">
        <img src="/PersonalPhoto.png" >
        </div>
        <div>
          <div>{{review.comment[0].name}}</div>
          <div><small>{{review.comment[0].date}}</small></div>
        </div>

    </div>

      <div class="p-3">
      <p>{{review.comment[0].body}}</p>
      </div>
  </div>

</div>
    </div>

    <a class="pointer mb-2 btn  btn-secondary" v-on:click="commentView">{{$t('writefeedback')}}</a>
    <div v-if="isComment" id="my-collapse" class="text-center bg-secondary py-5 rounded">
    <form class="col-md-6 col-12 m-auto" @submit.prevent="onSubmit">
      <div class="form-group row">
        <label for="inputName" class="pl-3  col-form-label">{{ $t('name') }}</label>
        <div class="col-12">
          <input type="text" name="name" v-model="name" class="form-control" id="inputName" >
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPhone" class="pl-3 col-form-label">{{ $t('Text') }}</label>
        <div class="col-12">
       <textarea class="form-control" v-model="body" id="exampleFormControlTextarea1" rows="3"></textarea>

        </div>
      </div>
      <recaptcha class="py-2" />
        <button type="submit"   class="btn btn-dark btn-lg w-100" >{{ $t('send') }}</button>
    </form>
    </div>

</div>

  </div>
</template>
<script>

export default {
  data() {
    return {
      valueRating: 3.555,
      isComment: false,
      name:'',
      body:'',
      isActive: 0,
      width: 560,
      widthSlider:0,
      heightSlider: 0
    }
  },

  async asyncData({app,params, $axios, $config }) {

  //  console.log($fb)



 const catalog = await $axios.$get(`/catalog?id=${params.id}`)
 const items=[{ text: 'home', href: '/'},{ text: 'catalog', href: '/catalog'},{ text: params.category, href: `/catalog/${params.category}`},{ text: params.title.toUpperCase(), href: `/catalog/${params.category}/${params.title}`},{  color:params.id, active: true}]
// const delivery = await $axios.$get(`/deliveryandpay?lang=`+app.i18n.localeProperties.code)
 const hrefColor=`/catalog/${params.category}/${params.title.toUpperCase()}`
 const idactive=params.id
 //this.valueRating = catalog.rating
 //console.log(catalog)
 return { catalog , items, hrefColor,idactive}

  },

 head() {
       return {
         title: this.$tc(this.catalog.category, 1)+' '+this.catalog.title,
         meta: [
         {
           hid: 'description',
           name: 'description',
           content: this.catalog.descript
         },
         {
           hid: 'keywords',
           name: 'keywords',
           content: this.catalog.key
         }
       ]
    }


 },

  mounted() {



    this.widthSlider=100*this.catalog.productColor.length
    let paddingsum=15*this.catalog.productColor.length
//    console.log(this.widthSlider+paddingsum)
  if(window.innerWidth<=580){

    this.width=window.innerWidth-200
  }else{
    this.width=560
  }
},
 methods: {
   commentView: function() {
     this.isComment = !this.isComment
   },
   async onSubmit() {
  try {
    const token = await this.$recaptcha.getResponse()




  var comment={"name":this.name,"body":this.body,"id":this.idactive,"url":"https://elborso.ru"+this.items[3]["href"]+'/'+this.idactive}

  if(this.catalog.reviews!=null){
    this.catalog.reviews.push(comment)
  }else{
    this.catalog.reviews=[]
    this.catalog.reviews.push(comment)
    this.name=''
    this.body=''
    this.isComment=false
  }
  const mountains = await  this.$axios.$post(`/review`,comment)
    // send token to server alongside your form data

    // at the end you need to reset recaptcha
  //this.$router.go(0)
  } catch (error) {

  //  console.log('Login error:', error)
  }
},

   previewActive(index){
     this.isActive=index;
  //   this.heightSlider=-index*70
//     console.log(this.heightSlider)
  //   console.log(index);
   },
   slideGo(index){
     this.$refs.childComponentA.$refs.myCarousel.setSlide(index);

  //   this.$refs.childComponentA.$refs.setSlide(index);
  //  this.$refs.childComponentA.$children.myCarousel.setSlide(index)
  //console.log(this.$refs.childComponentA.$refs.myCarousel.setSlide());
    // this.$refs.$children.myCarousel.setSlide(index)
   },
   addTodo (id,category,title,price,count,src) {




     this.$store.commit('order/add', {id,category,title,price,count,src})
     event.target.value = ''
   },
   buynow(id,category,title,price,count,src) {
     this.$store.commit('order/add', {id,category,title,price,count,src})
     event.target.value = ''
    this.$router.push({ path: '/cart'})
   }
 }
}
</script>
<style>
.text-top{
    color: #949494;
}
.sphere::before {
      content: " • ";
}

.slider_priview{


  display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

}
.slider_privew_over{
    height: 750px;
    overflow: auto;

}

img.active{
border: solid 1px #f20d0d;
}
.pointer{
  cursor: pointer;
}
.colorFilter{
  width: 30px;
  height: 30px;
}
.colorFilter.active{
  transition:all 0.2s;
  width: 40px;
  height: 40px;
}
.b-rating{
  float:left;
      width: 150px;
  border: none !important;
}
</style>
