<template>
  <div class="text-center mt-2">
    <div  v-if="!auth">
<a  v-b-modal.modal-prevent-login style="display:block;">
  <svg  xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-person" viewBox="0 0 16 16">
    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
  </svg>


</a>

<b-dropdown  variant="default login pt-0 "  class="py-0 login-drop">
<b-dropdown-item ><span v-b-modal.modal-prevent-login>{{$t('loginorregistration')}}</span></b-dropdown-item>

</b-dropdown>
</div>
 <!---->


<div v-else>
<NuxtLink to="/accaunt">

  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 20 20">
    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
  </svg>


</a>
</NuxtLink>
<b-dropdown :text="$t('accaunt')"  variant="default login pt-0"  class="py-0">
<b-dropdown-item :to="'/accaunt'">{{$t('accaunt')}}</b-dropdown-item>
  <li role="presentation"><a class="dropdown-item pointer" v-on:click="logout()">Выйти</a></li>

</b-dropdown>
</div>


<accauntLogin v-on:change="login($event)"/>

</div>
</template>
<script>
  export default {
    data() {
      return {
        auth: false
      }
    },
    mounted() {
         if(this.$store.state.order.token){
           this.auth=true
         }else{
            this.auth=false
         }
     },
     methods:{
       login($event){
         this.auth=$event
       },
       logout(){
         this.$router.push({ path: '/'})
         this.$store.commit('order/removeToken')
         this.auth=false
       }
     }

  }

</script>
<style>
.login{
  font-size: 80%;
font-weight: 400;
  }</style>
