<template>
  <div id="cart" class="text-center mt-2" >
  <NuxtLink to="/cart" style="display: inline-flex;" role="button">
    <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-bag icon-nav" viewBox="0 0 16 16">
      <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" fill="white"/>
    </svg>
    <div>
<small>{{sumCart}}₽</small></div>
  </div>
  </NuxtLink>
</div>

</template>
<script>
import { mapMutations } from 'vuex'
//import {gsap} from "gsap"
export default {
data() {
  return {
    isActive: false,
    count: 0
  }
},
computed: {
   sumCart () {
     if(this.$store.state.order.sum>0){
       this.isActive=true
     }else{
        this.isActive=false
     }
     this.count=this.$store.state.order.sum
     return this.$store.state.order.sum
   }

 },

 watch: {
     sumCart: function() {
       return this.$store.state.order.sum
      // gsap.to(this.$data, { duration: 0.5, count: newValue1 });
     }
   },


}
</script>
<style>


.circle-active{
  fill:#F20D0D  !important;
}
.circle {
    fill: rgb(196 196 196);
}

</style>
