<template>
  <div class="text-center ">
      <NuxtLink to="/wishlist" style="display: inline-flex;">
        <div class="button-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" class="bi bi-heart icon-nav" viewBox="0 0 16 16">
          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" :fill="fill"/>
        </svg>


</div>
</NuxtLink>
</div>
</template>
<script>
import { mapMutations } from 'vuex'
import {gsap} from "gsap"
export default {
data() {
  return {
    fill: 'black',
    count: 0
  }
},
computed: {
  sumCart () {

         if(this.$store.state.order.wishlist.length>0){
           this.fill='#DB1010'
         }else{
           this.fill='black'
         }
         return this.$store.state.order.wishlist.length
  }

 },



}
</script>
<style>


.circle-active{
  fill:#F20D0D  !important;
}
.circle {
    fill: rgb(196 196 196);
}

</style>
