<template>
  <svg width="60" height="60" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.6331 32.5005C26.5861 34.7095 25.1504 38.1231 27.5957 41.4042C38.9146 56.594 56.1098 76.0058 71.3934 83.5314C74.3834 85.002 77.0473 84.381 79.9061 82.0807C72.4655 90.1698 65.7895 98.645 55.6363 97.9628C46.6751 97.3606 38.6859 87.0287 31.6627 80.1079C9.38708 58.1522 6.60575 53.6978 27.6331 32.5005ZM79.3988 85.212C80.9069 83.6414 89.4495 74.9476 91.0001 73.4919L37.2004 20.3356C33.4819 23.0644 15.9231 41.0131 13.3642 46.2709C12.0935 48.881 11.1276 52.978 11.1763 55.0134C11.2213 56.8439 12.4133 61.0209 13.6978 63.3636C16.2292 67.9829 43.2478 94.4443 46.8925 96.7283C49.4039 98.765 52.1703 100.186 58.179 99.912C67.64 97.7729 71.1635 94.9316 79.3988 85.212ZM37.0691 22.5697L88.6211 73.3944C85.435 76.7655 77.196 83.3527 73.1277 81.7996C56.3348 75.3923 30.1608 42.9823 28.6015 38.3217C27.4257 34.8057 32.9146 26.6305 37.0691 22.5697V22.5697Z" fill="#131313"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5801 2L37.1997 20.336L35.5092 22.054L18.725 5.10623L13.6122 10.0853L30.4314 26.7808L28.8995 28.1515L20.2594 20.1798L21.3202 36.523L19.1261 39.849L17.8642 17.9708L13.0624 13.5402L14.5018 47.3959L12.3077 50.722L10 10.7138L18.5801 2Z" fill="black"/>
  </svg>


</template>
