<template>
  <svg width="60" height="60" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M50.4391 74.4108C42.0325 74.5317 35.4339 74.2048 30.5096 73.1392C24.4969 71.8384 20.9166 69.4628 19.548 65.5199C18.8257 71.594 18.2407 77.5939 18.2407 82.7991C18.2407 91.799 19.9874 98.318 25.8811 98.318H50.4391H74.9962C80.8899 98.318 82.6366 91.799 82.6366 82.7991C82.6366 77.5939 82.0517 71.594 81.3294 65.5199C79.9608 69.4628 76.3804 71.8384 70.3677 73.1392C65.4434 74.2048 58.8448 74.5317 50.4391 74.4108V74.4108ZM50.4391 99.5639C40.2922 99.5593 22.5241 100.088 22.6367 98.9698C18.3194 97.0116 16.938 90.8131 16.938 82.7991C16.938 75.7987 17.9926 67.3527 19.0216 59.2124L19.0252 59.1749C20.9633 47.5586 18.5391 41.8682 31.6347 42.0165L32.7836 42.0247L50.4391 42L68.0937 42.0247L69.2426 42.0165C82.3382 41.8682 79.9141 47.5586 81.8521 59.1749L81.8558 59.2124C82.8847 67.3527 83.9393 75.7987 83.9393 82.7991C83.9393 90.8131 82.5579 97.0116 78.2406 98.9698C78.3532 100.088 60.5851 99.5593 50.4391 99.5639V99.5639ZM50.4391 43.2981L32.7836 43.3229L31.6237 43.3137C20.9101 42.8276 21.5656 49.4903 20.3243 59.2509L20.3178 59.3122C19.5598 66.4143 22.8445 70.1476 30.7843 71.8659C36.8043 73.1704 44.2662 73.0239 50.4391 73.1127C56.6111 73.0239 64.073 73.1704 70.093 71.8659C78.0328 70.1476 81.3175 66.4143 80.5595 59.3122L80.5531 59.2509C79.3117 49.4903 79.9672 42.8276 69.2536 43.3137L68.0937 43.3229L50.4391 43.2981V43.2981Z" fill="black"/>
  <path d="M10.4974 75.7176C10.4974 82.6412 9.64783 86.0229 17.053 86.5374L17.4274 89.9447C8.44033 89.8595 8 82.5735 8 76.2156C8 65.9634 19.5558 54.7225 20.8054 47.0757L20.1792 53.3914C19.7233 56.785 10.4974 67.0097 10.4974 75.7176V75.7176Z" fill="black"/>
  <path d="M90.3832 75.6897C90.3832 82.6133 91.2328 85.9949 83.8277 86.5085L83.4533 89.9167C92.4403 89.8316 92.8806 82.5455 92.8806 76.1877C92.8806 65.9355 81.3248 54.6946 80.0752 47.0478L80.7014 53.3626C81.1573 56.7571 90.3832 66.9818 90.3832 75.6897V75.6897Z" fill="black"/>
  <path d="M50.4386 70.7659C52.5125 70.7659 54.1938 69.822 54.1938 68.6576C54.1938 67.4932 52.5125 66.5493 50.4386 66.5493C48.3646 66.5493 46.6833 67.4932 46.6833 68.6576C46.6833 69.822 48.3646 70.7659 50.4386 70.7659Z" fill="#D20E0E"/>
  </svg>

</template>
