<template>
  <svg width="60" height="60" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M91.8493 41.635C93.0077 42.9423 92.3369 80.6939 92.3409 87.696C92.3458 95.7107 94.5435 97.6966 86.7416 97.6966C64.3307 97.6966 36.1226 98.3763 14.0861 97.6503C11.1476 97.5538 9.21384 96.5392 8.86414 94.5749C8.00415 83.2995 8.09577 44.5538 9.13701 41.2154C32.8974 40.6667 74.1688 40.6499 91.8493 41.635V41.635ZM32.9299 38.6975C33.0078 24.1969 34.8479 5.51167 50.0351 5.54713C65.4547 5.58457 66.626 24.1841 66.8388 38.666L32.9299 38.6975V38.6975ZM26.1998 38.6926C26.3761 20.1019 30.9883 1.96534 50.039 2.15448C69.1823 2.34559 72.637 20.3088 73.4251 38.7004L69.3222 38.5428C67.8259 34.1562 71.5189 3.55232 50.04 3.40456C33.5693 3.29029 30.2495 22.6533 30.8691 38.6561L26.1998 38.6926ZM24.0631 38.6817C4.73562 38.5852 6.45855 36.9539 6.46052 51.612C6.46052 61.9811 6.45953 72.3492 6.45953 82.7193C6.46052 103.413 -1.69408 99.852 50.6586 99.852C102.505 99.852 94.5632 103.331 94.5632 82.0967C94.5632 71.7276 94.5613 61.3595 94.5632 50.9904C94.5672 37.0149 96.2457 38.3576 75.4435 38.6896C76.0651 19.0527 69.5567 0.0414482 50.0449 7.43348e-05C29.554 -0.0432697 24.1321 18.8755 24.0631 38.6817V38.6817Z" fill="#131313"/>
  </svg>
</template>
